
<label for="title">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="type">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.type" />
</label><br />
	<f:form.textfield property="type" /><br />
<label for="startdate">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.startdate" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="startdate"  value="{tour.startdate->f:format.date()}" /><br />
<label for="enddate">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.enddate" />
</label><br />
	<f:form.textfield property="enddate"  value="{tour.enddate->f:format.date()}" /><br />
<label for="difficulty">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.difficulty" />
</label><br />
	<f:form.textfield property="difficulty" /><br />
<label for="description">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="requirements">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.requirements" />
</label><br />
	<f:form.textfield property="requirements" /><br />
<label for="equipment">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.equipment" />
</label><br />
	<f:form.textfield property="equipment" /><br />
<label for="meetingtime">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.meetingtime" />
</label><br />
	<f:form.textfield property="meetingtime"  value="{tour.meetingtime->f:format.date()}" /><br />
<label for="meeting">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.meeting" />
</label><br />
	<f:form.textfield property="meeting" /><br />
<label for="returningtime">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.returningtime" />
</label><br />
	<f:form.textfield property="returningtime" /><br />
<label for="signin">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.signin" />
</label><br />
	<f:form.textfield property="signin" /><br />
<label for="info">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.info" />
</label><br />
	<f:form.textfield property="info" /><br />
<label for="cost">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.cost" />
</label><br />
	<f:form.textfield property="cost" /><br />
<label for="special">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.special" />
</label><br />
	<f:form.textfield property="special" /><br />
<label for="state">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.state" />
</label><br />
	<f:form.textfield property="state" /><br />
<label for="eregister">
	<f:translate key="tx_hibtourenplanung_domain_model_tour.eregister" />
</label><br />
	<f:form.checkbox property="eregister" value="1" /><br />