
<table class="tx-hib-tourenplanung" >
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.title" />
		</td>
		<td>
			{tour.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.type" />
		</td>
		<td>
			{tour.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.startdate" />
		</td>
		<td>
			{tour.startdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.enddate" />
		</td>
		<td>
			{tour.enddate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.difficulty" />
		</td>
		<td>
			{tour.difficulty}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.description" />
		</td>
		<td>
			{tour.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.requirements" />
		</td>
		<td>
			{tour.requirements}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.equipment" />
		</td>
		<td>
			{tour.equipment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.meetingtime" />
		</td>
		<td>
			{tour.meetingtime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.meeting" />
		</td>
		<td>
			{tour.meeting}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.returningtime" />
		</td>
		<td>
			{tour.returningtime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.signin" />
		</td>
		<td>
			{tour.signin}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.info" />
		</td>
		<td>
			{tour.info}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.cost" />
		</td>
		<td>
			{tour.cost}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.special" />
		</td>
		<td>
			{tour.special}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.state" />
		</td>
		<td>
			{tour.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tour.eregister" />
		</td>
		<td>
			{tour.eregister}
		</td>
	</tr>
</table>