
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Bild</h1>

<f:flashMessages />

<table  class="tx_hibtourenplanung" >
	<tr>
		<th><f:translate key="tx_hibtourenplanung_domain_model_bild.picture" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{bilds}" as="bild">
		<tr>
			<td><f:link.action action="show" arguments="{bild : bild}"> {bild.picture.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{bild : bild}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{bild : bild}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Bild</f:link.action>
</f:section>