{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<h1>Tourenbericht löschen</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Tour}" />
{report.tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
<f:form class="form-horizontal" action="deleteNow" name="report" object="{report}" enctype="multipart/form-data" >
    Möchtest du diesen Tourenbericht wirklich löschen?<br>
<f:if condition="{report.tour.enddate}">
    <f:then>
	{report.tour.startdate -> f:format.date(format:"d.m.")} - {report.tour.enddate -> f:format.date(format:"d.m.Y")}
    </f:then>
    <f:else>
	{report.tour.startdate -> f:format.date(format:"d.m.Y")}
    </f:else>
</f:if>
{report.tour.title}<br>
<f:link.action class="btn btn-danger" arguments="{year:year}" section="collapse{report.tour.uid}">abbrechen</f:link.action>
<f:form.submit class="powermail_submit btn btn-primary" value="Löschen" />
</f:form>
</f:section>