{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<h1>Tourenbericht bearbeiten</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Report}" />
{report.tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
<f:form onsubmit="document.getElementById('submit_button').disabled = 1;" class="form-horizontal" action="update" name="report" object="{report}" >
<f:render partial="Report/FormFields" arguments="{report:report, touren:touren}" />
<f:link.action arguments="{year:year}" section="collapse{report.uid}" class="btn btn-danger">zurück</f:link.action>
	<f:form.submit class="powermail_submit btn btn-primary" value="Speichern" id="submit_button"/>
</f:form>
</f:section>