{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

{year -> v:math.sum(b:1) -> v:variable.set(name:"next")}
{year -> v:math.sum(b:"-1") -> v:variable.set(name:"prev")}
{v:variable.set(name: 'month', value: "none")}

<div class="year"><f:link.action title="vorheriges Jahr" action="list" arguments="{year : prev}"><i class="fas fa-backward"></i></f:link.action> {year} <f:link.action title="nächstes Jahr" action="list" arguments="{year : next}"><i class="fas fa-forward"></i></f:link.action></div>
<div id="accordion">
    <f:for each="{reports}" as="report">
	{report.tour.startdate -> f:format.date(format:"m") -> v:variable.set(name:"monthNew")}
	<f:if condition="{month}!={monthNew}">
	    <f:then>
		<f:switch expression="{monthNew}">
		    <f:case value="01"><div class="tour-month">Januar</div></f:case>
		    <f:case value="02"><div class="tour-month">Februar</div></f:case>
		    <f:case value="03"><div class="tour-month">März</div></f:case>
		    <f:case value="04"><div class="tour-month">April</div></f:case>
		    <f:case value="05"><div class="tour-month">Mai</div></f:case>
		    <f:case value="06"><div class="tour-month">Juni</div></f:case>
		    <f:case value="07"><div class="tour-month">Juli</div></f:case>
		    <f:case value="08"><div class="tour-month">August</div></f:case>
		    <f:case value="09"><div class="tour-month">September</div></f:case>
		    <f:case value="10"><div class="tour-month">Oktober</div></f:case>
		    <f:case value="11"><div class="tour-month">November</div></f:case>
		    <f:case value="12"><div class="tour-month">Dezember</div></f:case>
		    <f:defaultCase></f:defaultCase>
		</f:switch>
	    </f:then>
	</f:if>
	{report.tour.startdate -> f:format.date(format:"m") -> v:variable.set(name:"month")}

	<f:render partial="Report/singleReport" arguments="{report:report}" />
	{monthNew -> v:variable.set(name: 'month')}
    </f:for>
</div>
</f:section>