 
<f:layout name="Default" />


<f:section name="main">
<h1>Neuer Tourenbericht</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Report}" />
<f:form onsubmit="document.getElementById('submit_button').disabled = 1;" class="form-horizontal" action="create"  enctype="multipart/form-data"  name="newReport" object="{newReport}">
    <f:if condition="{tour}">
	<f:then>
	    <f:render partial="Report/FormFields" arguments="{touren:touren, tour: tour}"/>
	</f:then>
	<f:else>
	    <f:render partial="Report/FormFieldsNew" arguments="{touren:touren}"/>
	</f:else>
    </f:if>
	<f:link.page class="btn btn-danger">zurück</f:link.page>
	<f:form.submit class="powermail_submit btn btn-primary" value="Speichern" id="submit_button"/>
</f:form>
</f:section>