{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />


<f:section name="main">
{report.tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
<h1>Fotos upload für Tourenreport {report.tour.title}</h1>
<li>Bilder sind ideal ca. 800px breit und nicht grösser als 500Kb.</li>
<li>Bitte nicht 100 mittelmässige Bilder, sondern je nach Tour 10-20 gute hochladen :-)</li>
<li>Wenn deine Bilder zu gross sind und du sie nicht selber verkleinern kannst, schicke sie bitte per Email an <i class="fa fa-envelope" aria-hidden="true"></i> <f:link.email email="webmaster@bergfreunde.ch"/></li>
<f:flashMessages />
<br><br>
<f:render partial="FormErrors" arguments="{object:Report}" />
<f:form class="form-horizontal" action="uploadPhoto"  enctype="multipart/form-data"  name="report" object="{report}">
    <input id="upload-pic" type="file" name="file[]" class="file" data-preview-file-type="text" multiple data-min-file-count="1">
    <br>
    <f:link.action arguments="{year:year}" section="collapse{report.uid}" class="btn btn-danger">zurück</f:link.action>
    <f:form.submit class="powermail_submit btn btn-primary" value="Speichern" />
</f:form>


</f:section>
