{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
<f:if condition="{report.title}">
    <f:then>
	<h1>{report.title}</h1> 
    </f:then>
    <f:else>
	<h1>{report.tour.title}</h1>
    </f:else>
</f:if>
<f:if condition="{report.tour.enddate}">
    <f:then>
	{report.tour.startdate -> f:format.date(format:"d.m.Y")} - {report.tour.enddate -> f:format.date(format:"d.m.Y")}
    </f:then>
    <f:else>
	{report.tour.startdate -> f:format.date(format:"d.m.Y")}
    </f:else>
</f:if>
<f:if condition="{report.author}">
    <f:then>
	&nbsp;&nbsp;({report.author})
    </f:then>
    <f:else>
	&nbsp;&nbsp;({report.tour.tourenleiter.name})
    </f:else>
</f:if>
    <br><br>
<f:format.nl2br>{report.text}</f:format.nl2br>
<f:if condition="{report.picture}">
    <f:then>
	<br><br>
	<h3>Fotos</h3>
	<f:render partial="Report/BilderGallery" arguments="{pictures:report.picture report:report}" />
    </f:then>
</f:if>
<br><br>
{report.tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
<f:link.action pageUid="{settings.tourPage}" controller="Tour" action="list" arguments="{year:year}" section="collapse{report.tour.uid}" class="powermail_submit btn btn-primary">zurück</f:link.action>
<br><br>
</f:section>