{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
<f:if condition="{report.title}">
    <f:then>
	<h1>{report.title}
    </f:then>
    <f:else>
	<h1>{report.tour.title}
    </f:else>
</f:if>
<f:if condition="{report.tour.enddate}">
    <f:then>
	{report.tour.startdate -> f:format.date(format:"d.m.Y")} - {report.tour.enddate -> f:format.date(format:"d.m.Y")}</h1>
    </f:then>
    <f:else>
	{report.tour.startdate -> f:format.date(format:"d.m.Y")}</h1>
    </f:else>
</f:if>
<f:if condition="{report.state}==0">
    <f:then>
	<div class="show red">Dieser Report ist noch <b>nicht</b> sichtbar auf der Webseite
	    <div class="title-right button">
		<f:link.action title="Report bearbeiten" controller="Report" action="edit" arguments="{report: report}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></f:link.action>
		<f:if condition="{report.text}">
		    <f:then>
			<f:link.action title="Report für Webseite freigeben" controller="Report" action="toggleState" arguments="{report: report}" class="btn btn-primary btn-sm"> <i class="fas fa-eye"></i></f:link.action>
		    </f:then>
		</f:if>
	    </div>
	</div>
    </f:then>
    <f:else>
	<div class="show green">Dieser Report ist sichtbar auf der Webseite
	    <div class="title-right button">
		<f:link.action title="Report bearbeiten" controller="Report" action="edit" arguments="{report: report}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></f:link.action>
		<f:if condition="{report.text}">
		    <f:then>
			<f:link.action title="Report auf Webseite verstecken" controller="Report" action="toggleState" arguments="{report: report}" class="btn btn-primary btn-sm"> <i class="fas fa-eye-slash"></i></f:link.action>
			</div>
		    </f:then>
		    <f:else>
			</div>
		    </f:else>
		</f:if>
	</div>
    </f:else>
</f:if>
    
<table class="table table-striped">
    <tbody>
	<tr>
	    <th class="first" style="width:30%" scope="row">Tour</th>
	    <f:if condition="{tour.enddate}">
		<f:then>
		    {report.tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber1")}
		    {report.tour.enddate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber2")}
		    <td class="first"><f:translate key='day.{daynumber1}' /> {report.tour.title} {report.tour.type}  {report.tour.startdate -> f:format.date(format:"d.m.")} - <f:translate key='day.{daynumber2}' /> {report.tour.enddate -> f:format.date(format:"d.m.Y")}</td>
		</f:then>
		<f:else>
		    {tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber")}
		    <td class="first"><f:translate key='day.{daynumber}' />{report.tour.title} {report.tour.type}  {report.tour.startdate -> f:format.date(format:"d.m.Y")}</td>
		</f:else>
	    </f:if>
	</tr>
	<tr>
	    <th scope="row">Tourenleiter</th>
	    <td>{report.tour.tourenleiter.name}</td>
	</tr>
	<tr>
	    <th scope="row">Durchführung</th>
	    <td>
		<f:if condition="{report.executed}==0">
		    <f:then>
			nicht Durchgeführt
		    </f:then>
		    <f:else>
			Durchgeführt
		    </f:else>
		</f:if>
	    </td>
	</tr>
	<tr>
	    <th scope="row">Kurzbericht</th>
	    <td><f:format.nl2br>{report.shorttext}</f:format.nl2br></td>
	</tr>
	{v:variable.set(name: 'nr', value: "1")}
	<tr>
	    <th scope="row">Teilnehmer</th>
	    <td colspan="2"> 
		<table width="100%">
		    <f:for each="{report.participant}" as="participant">
			<tr>
			    <td width="50px">Teilnehmer {nr}:</td>
			    <td>
				{participant.name}</td>
			    <td>
				<f:if condition="{participant.email}">
				    <f:then>
					<i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;<f:link.email email="{participant.email}"/>
				    </f:then>
				</f:if>
			    </td>
			    <td>
				<f:if condition="{participant.phone}">
				    <f:then>
					<i class="fas fa-phone" aria-hidden="true"></i> {participant.phone}
				    </f:then>
				</f:if>
			    </td>
			    {nr -> v:math.sum(b:1) -> v:variable.set(name:"nr")}
			</tr>
		    </f:for>
		</table>    
	    </td>
	</tr>
	<tr>
	    <th scope="row">Bericht für Webseite</th>
	    <td>
		<b>{report.title}</b>
		<f:if condition="{report.author}">
		    <f:then>
			 <b>(von {report.author})</b><br><br>
		    </f:then>
		</f:if>
		 <f:format.nl2br>{report.text}</f:format.nl2br>
	    </td>
	</tr>
	<f:if condition="{report.picture}">
	    <f:then>
		<tr>
		    <th scope="row">Fotos</th>  
		    <td>
			<f:render partial="Report/BilderGallery" arguments="{pictures:report.picture report:report}" />
		    </td>
		</tr>
	    </f:then>
	</f:if>
    </tbody>
</table>
<f:link.action class="powermail_submit btn btn-primary" action="listEdit">Alle Tourenberichte</f:link.action><br />
</f:section>