
<label for="name">
	<f:translate key="tx_hibtourenplanung_domain_model_participant.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="sex">
	<f:translate key="tx_hibtourenplanung_domain_model_participant.sex" />
</label><br />
	<f:form.textfield property="sex" /><br />
<label for="email">
	<f:translate key="tx_hibtourenplanung_domain_model_participant.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_hibtourenplanung_domain_model_participant.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="message">
	<f:translate key="tx_hibtourenplanung_domain_model_participant.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />