
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Tour</h1>

<f:flashMessages />

<table  class="tx_hibtourenplanung" >
	<tr>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.title" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.type" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.startdate" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.enddate" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.difficulty" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.description" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.requirements" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.equipment" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.meetingtime" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.meeting" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.returningtime" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.signin" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.info" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.cost" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.special" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.state" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tour.eregister" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{tours}" as="tour">
		<tr>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.startdate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.enddate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.difficulty}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.requirements}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.equipment}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.meetingtime}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.meeting}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.returningtime}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.signin}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.info}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.cost}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.special}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.state}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tour : tour}"> {tour.eregister}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{tour : tour}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{tour : tour}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Tour</f:link.action>
</f:section>