
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Tourenleiter</h1>

<f:flashMessages />

<table  class="tx_hibtourenplanung" >
	<tr>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.name" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.email" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.address" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.phone" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.picture" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{tourenleiters}" as="tourenleiter">
		<tr>
			<td><f:link.action action="show" arguments="{tourenleiter : tourenleiter}"> {tourenleiter.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tourenleiter : tourenleiter}"> {tourenleiter.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tourenleiter : tourenleiter}"> {tourenleiter.address}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tourenleiter : tourenleiter}"> {tourenleiter.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tourenleiter : tourenleiter}"> {tourenleiter.picture.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{tourenleiter : tourenleiter}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{tourenleiter : tourenleiter}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Tourenleiter</f:link.action>
</f:section>