{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<fieldset class="powermail_fieldset powermail_fieldset_2 nolabel">
    <div class="form-group">
	<label for="title" class="control-label col-sm">Tourenziel <span class="required">(Muss Feld)</span></label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="title" />
	</div>
    </div>
    <div class="form-group">
	<label for="title" class="control-label col-sm">Ausgeschrieben für </label>
	<div class="col-sm-10">
	    <f:form.select class="powermail_input form-control" property="unit" options="{units}" optionValueField="key" optionLabelField="value" />
	</div>
    </div>
    <div class="form-group">
	<label for="difficulty" class="control-label col-sm">Typ/Schwierigkeit</label>
	<div class="col-sm-10">
	    <f:form.select class="powermail_input form-control" property="difficulty" options="{difficulties}" optionValueField="key" optionLabelField="value"/>
	</div>
    </div>
    <div class="form-group">
	<label for="eregister" class="control-label col-sm">Online Anmeldung möglich</label>
	<div class="col-sm-10">
	    <f:form.checkbox  property="eregister" value="1" checked="{tour.eregister}"/>
	</div>
    </div>
    <div class="form-group">
	<label for="tourenleiter" class="control-label col-sm">Tourenleiter</label>
	<div class="col-sm-10">
	    <f:form.select  class="powermail_input form-control" property="tourenleiter" options="{tourenleiter}" optionValueField="uid" optionLabelField="name" value="{login}" />
	</div>
    </div>

    <div class="form-group">
	<label for="startdate" class="control-label col-sm">Datum (Muss Feld)</label>
	<div class="col-sm-10 date" data-provide="datepicker">
	    <input data-datepicker-force="0" data-datepicker-settings="date" data-datepicker-months="Januar,Februar,März,April,Mai,Juni,Juli,August,September,Oktober,November,Dezember" data-datepicker-days="So,Mo,Di,Mi,Do,Fr,Sa" data-datepicker-format="d.m.Y" class="powermail_date form-control " type="date" value="{tour.startdate->f:format.date(format:'Y-m-d')}"  id="datepickerStart" onblur="copyStart()">
	    <f:form.textfield  class="hidden" property="startdate"  value="{tour.startdate->f:format.date(format:'Y-m-d')}" id="startdate"  />
	</div>
    </div>
    <div class="form-group">
	<label for="startdate" class="control-label col-sm">Bis Datum (nur bei mehrtägigen Touren)</label>
	<div class="col-sm-10 date" data-provide="datepicker">
	     <input data-datepicker-force="0" data-datepicker-settings="date" data-datepicker-months="Januar,Februar,März,April,Mai,Juni,Juli,August,September,Oktober,November,Dezember" data-datepicker-days="So,Mo,Di,Mi,Do,Fr,Sa" data-datepicker-format="d.m.Y" class="powermail_date form-control " type="date"  value="{tour.enddate->f:format.date(format:'Y-m-d')}" id="datepickerEnd" onblur="copyEnd()">
	     <f:form.textfield  class="hidden" property="enddate"  value="{tour.enddate->f:format.date(format:'Y-m-d')}" id="enddate"  />
	</div>
    </div>
    <div class="form-group">
	<label for="whiterisk" class="control-label col-sm">White Risk Link zur geplanten Tour <a title="Hilfe" href="#whiteriskModal"  data-toggle="modal"><i class="fas fa-question-circle"></i></a></label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="whiterisk" />
	</div>
    </div>
    <div class="form-group">
	<label for="description" class="control-label col-sm">Beschreibung</label>
	<div class="col-sm-10">
	    <f:form.textarea rows="5" cols="20" class="powermail_input form-control" property="description" />
	</div>
    </div>
    <div class="form-group">
	<label for="requirements" class="control-label col-sm">Anforderung</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="requirements" />
	</div>
    </div>
    <div class="form-group">
	<label for="equipment" class="control-label col-sm">Ausrüstung</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="equipment" />
	</div>
    </div>
    <div class="form-group">
	<label for="cost" class="control-label col-sm">Kosten</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="cost" />
	</div>
    </div>
    <div class="form-group">
	<label for="special" class="control-label col-sm">Speziell</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="special" />
	</div>
    </div>
    <div class="form-group">
	<label for="signin" class="control-label col-sm">Anmeldung</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="signin" />
	</div>
    </div>
        <div class="form-group">
	<label for="meeting" class="control-label col-sm-2">Besammlung</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="meeting" />
	</div>
    </div>
        <div class="form-group">
	<label for="returningtime" class="control-label col-sm">Rückkehr</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="returningtime" />
	</div>
    </div>
    <div class="form-group">
	<label for="info" class="control-label col-sm">Auskunft</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="info" />
	</div>
    </div>
</fieldset>
<!-- Modal WhiteRisk -->
<div class="modal fade" id="whiteriskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  <v:content.render contentUids="{0:39}"></v:content.render>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
  </div>
</div>
<br>

    <script type="text/javascript">
      function copyStart(){
        var f1 = document.getElementById("datepickerStart");
	var f2 = document.getElementById("startdate");
	var n = f1.value.indexOf(".");
	if (n>0 && n < 4  && f1.value !="")   
	{
	    var year = f1.value.substring(6,10);
	    var month = f1.value.substring(3,5);
	    var day = f1.value.substring(0,2);
	    f2.value = year+"-"+month+"-"+day;
	}
	else
        {
	    f2.value = f1.value;
	}
      }
      function copyEnd(){
        var f1 = document.getElementById("datepickerEnd");
        var f2 = document.getElementById("enddate");
        var n = f1.value.indexOf(".");
	if (n>0 && n < 4  && f1.value !="")   
	{
	    var year = f1.value.substring(6,10);
	    var month = f1.value.substring(3,5);
	    var day = f1.value.substring(0,2);
	    f2.value = year+"-"+month+"-"+day;
	}
	else
        {
	    f2.value = f1.value;
	}
      }
      function checkEmpty(){
	var f1 = document.getElementById("startdate");
	var f2 = document.getElementById("enddate");
	if (f1.value == "")
	{
	    f1.value = "0000-00-00";
	}
	if (f2.value == "")
	{
	    f2.value = "0000-00-00";
	}
      }
    </script>

  

 