{namespace v=FluidTYPO3\Vhs\ViewHelpers}


	    <table class="table table-striped">
		<tbody>
		    <tr>
			<f:if condition="{tour.state}==0">
			    <f:then>
				<div class="show red">Diese Tour ist noch <b>nicht</b> sichtbar auf der Webseite
				    <div class="title-right button">
					<f:link.action title="Tour bearbeiten" controller="Tour" action="edit" arguments="{tour: tour}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></f:link.action>
					<f:link.action title="Tour für Webseite freigeben" controller="Tour" action="toggleState" arguments="{tour: tour}" class="btn btn-primary btn-sm"> <i class="fas fa-eye"></i></f:link.action>
				    </div>
				</div>
			    </f:then>
			    <f:else>
				<div class="show green">Diese Tour ist sichtbar auf der Webseite
				    <div class="title-right button">
					<f:link.action title="Tour bearbeiten" controller="Tour" action="edit" arguments="{tour: tour}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></f:link.action>
					<f:link.action title="Tour auf Webseite verstecken" controller="Tour" action="toggleState" arguments="{tour: tour}" class="btn btn-primary btn-sm"> <i class="fas fa-eye-slash"></i></f:link.action>
				    </div>
				</div>
			    </f:else>
			</f:if>
		    </tr>
		    <tr>
			<th class="first" style="width:30%" scope="row">Datum</th>
			<f:if condition="{tour.enddate}">
			    <f:then>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber1")}
				{tour.enddate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber2")}
				<td class="first"><f:translate key='day.{daynumber1}' /> {tour.startdate -> f:format.date(format:"d.m.")} - <f:translate key='day.{daynumber2}' /> {tour.enddate -> f:format.date(format:"d.m.Y")}</td>
			    </f:then>
			    <f:else>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber")}
				<td class="first"><f:translate key='day.{daynumber}' /> {tour.startdate -> f:format.date(format:"d.m.Y")}</td>
			    </f:else>
			</f:if>
		    </tr>
		    <tr>
			<th scope="row">Tourenleiter</th>
			<td>
			    <f:if condition="{tour.tourenleiter.picture.originalResource.publicUrl}!=''}">
				<f:then>
				    <f:if condition="{small}!='true'">
					<f:then>
					    <f:image class="thumbnail img-responsive" style="float:right" src="{tour.tourenleiter.picture.originalResource.publicUrl}" maxWidth="200"/>
					</f:then>
					<f:else>
					    <f:image class="thumbnail img-responsive" style="float:right" src="{tour.tourenleiter.picture.originalResource.publicUrl}" maxWidth="100"/>
					</f:else>
				    </f:if>
				</f:then>
			    </f:if>
			   {tour.tourenleiter.name}<br>
			    <f:format.nl2br>{tour.tourenleiter.address}</f:format.nl2br><br>
			    <i class="fas fa-phone" aria-hidden="true"></i> {tour.tourenleiter.phone}  <br>
			    <i class="fas fa-envelope" aria-hidden="true"></i> <f:link.email email="{tour.tourenleiter.email}"/>
			</td>
		    </tr>
		    <f:render partial="Tour/TourDetails" arguments="{tour:tour, small:small}" />
		    <tr>
			<td colspan="2"><h4>Online Anmeldungen</h4></td>
		    </tr>
		    {v:variable.set(name: 'nr', value: "1")}
		    <tr>
			<td colspan="2"> 
			    <table width="100%">
				<f:for each="{tour.subscriber}" as="participant">
				    <tr>
					<td><f:link.action title="Teilnehmer entfernen" controller="Participant" action="delete" arguments="{report: NULL, tour:tour, participant: participant}"><span class="fa fa-trash" aria-hidden="true"></span></f:link.action> {nr}.</td>
					<td width="15%">{participant.name}</td>
					<td width="15%"><i class="fas fa-envelope" aria-hidden="true"></i> <f:link.email email="{participant.email}"/></td>
					<td width="15%"><i class="fas fa-phone" aria-hidden="true"></i> {participant.phone}</td>
					<td>{participant.message}</td>
					{nr -> v:math.sum(b:1) -> v:variable.set(name:"nr")}
				    </tr>
				</f:for>
			    </table>    
			</td>
		    </tr>
		</tbody>
	    </table>