{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="panel panel-default">
    <f:if condition="{tour.state}==0">
	<f:then>
	    <div class="panel-heading red">
	</f:then>
	<f:else>
	    <div class="panel-heading green">
	</f:else>
    </f:if>
	<f:if condition="{tour.enddate}">
	    <f:then>
		<div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{tour.uid}">{tour.startdate -> f:format.date(format:"d.m.")} - {tour.enddate -> f:format.date(format:"d.m.Y")}</a></div>
	    </f:then>
	    <f:else>
		<div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{tour.uid}">{tour.startdate -> f:format.date(format:"d.m.Y")}</a></div>
	    </f:else>
	</f:if>
    <div class="title-right button"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{tour.uid}">{tour.tourenleiter.name}</a>&nbsp;&nbsp;
	    <f:if condition="{tour.reportAll}">
		<f:then>
		    {tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
		    <f:link.action title="gehe zu Report für diese Tour" controller="Report" action="listEdit" arguments="{year:year}" pageUid="{settings.reportEditPage}" section="collapse{tour.reportAll.uid}" class="btn btn-primary btn-sm"> <i class="fas fa-file-alt"></i></f:link.action>
		</f:then>
		<f:else>
		    <f:if condition="{tour.startdate} < {v:system.dateTime()}">
			<f:then>
			    <f:link.action title="Report für Tour erstellen" pageUid="{settings.reportEditPage}" controller="Report" action="new" arguments="{tour: tour}" class="btn btn-primary btn-sm"> <i class="far fa-file"></i></f:link.action>
			</f:then>
		    </f:if>
		</f:else>
	    </f:if>
	    <f:link.action title="Tour bearbeiten" controller="Tour" action="edit" arguments="{tour: tour}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></f:link.action>
	    <f:security.ifHasRole role="2">
		<f:then>
		    <f:if condition="{tour.reportAll}">
			<f:then>
			</f:then>
			<f:else>
			    <f:link.action title="Tour löschen" controller="Tour" action="delete" arguments="{tour: tour}" class="btn btn-primary btn-sm"><i class="fas fa-trash"></i></f:link.action>
			</f:else>
		    </f:if>
		</f:then>
	    </f:security.ifHasRole>
	<f:if condition="{tour.state}==0">
	<f:then>	
		<f:link.action title="Tour für Webseite freigeben" controller="Tour" action="toggleState" arguments="{tour: tour}" class="btn btn-primary btn-sm"> <i class="fas fa-eye"></i></f:link.action>
	</f:then>
	    <f:else>
		<f:link.action title="Tour auf Webseite verstecken" controller="Tour" action="toggleState" arguments="{tour: tour}" class="btn btn-primary btn-sm"> <i class="fas fa-eye-slash"></i></f:link.action>
	    </f:else>
	</f:if>
	</div>
	<div><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{tour.uid}">{tour.title} {tour.type}
	<f:if condition="{tour.unit}==2">
	    <f:then>
		&nbsp;(Jugendgruppe)
	    </f:then>
	</f:if>
	</a></div>
	<div style="clear:left"></div>
    </div>
    <div id="collapse{tour.uid}" class="panel-collapse collapse" data-parent="#accordion">
	<div class="panel-body">
	    <table class="table table-striped">
		<tbody>
		    <tr>
			<th class="first" style="width:30%" scope="row">Ausgeschrieben für</th>
			<f:if condition="{tour.unit}=='1'">
			    <f:then>
				<td class="first">Bergfreunde</td>
			    </f:then>
			</f:if>
			<f:if condition="{tour.unit}=='2'">
			    <f:then>
				<td class="first">Jugendgruppe</td>
			    </f:then>
			</f:if>
			<f:if condition="{tour.unit}=='3'">
			    <f:then>
				<td class="first">Bergfreunde & Jugendgruppe</td>
			    </f:then>
			</f:if>
		    </tr>
		    <tr>
			<th class="first" style="width:30%" scope="row">Datum</th>
			<f:if condition="{tour.enddate}">
			    <f:then>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber1")}
				{tour.enddate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber2")}
				<td class="first"><f:translate key='day.{daynumber1}' /> {tour.startdate -> f:format.date(format:"d.m.")} - <f:translate key='day.{daynumber2}' /> {tour.enddate -> f:format.date(format:"d.m.Y")}</td>
			    </f:then>
			    <f:else>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber")}
				<td class="first"><f:translate key='day.{daynumber}' /> {tour.startdate -> f:format.date(format:"d.m.Y")}</td>
			    </f:else>
			</f:if>
		    </tr>
		    <tr>
			<th scope="row">Tourenleiter</th>
			<td>
			    <f:if condition="{tour.tourenleiter.picture.originalResource.publicUrl}!=''}">
				<f:then>
				    <f:if condition="{small}!='true'">
					<f:then>
					    <f:image class="thumbnail img-responsive" style="float:right" src="{tour.tourenleiter.picture.originalResource.publicUrl}" maxWidth="200"/>
					</f:then>
					<f:else>
					    <f:image class="thumbnail img-responsive" style="float:right" src="{tour.tourenleiter.picture.originalResource.publicUrl}" maxWidth="100"/>
					</f:else>
				    </f:if>
				</f:then>
			    </f:if>
			   {tour.tourenleiter.name}<br>
			    <f:format.nl2br>{tour.tourenleiter.address}</f:format.nl2br><br>
			    <i class="fas fa-phone" aria-hidden="true"></i> {tour.tourenleiter.phone}  <br>
			    <i class="fas fa-envelope" aria-hidden="true"></i> <f:link.email email="{tour.tourenleiter.email}"/>
			    <f:if condition="{small}!='true'">
				<f:then>
				    <br><br>
				    <f:link.action title="Tourenleiter bearbeiten" controller="Tourenleiter" action="edit" arguments="{tourenleiter: tour.tourenleiter, tour:tour}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i> Details Tourenleiter bearbeiten</f:link.action>
				</f:then>
			    </f:if>
			</td>
		    </tr>
		    <f:if condition="{tour.whiterisk}">
			<f:then>
			    <tr>
				<th style="width:30%" scope="row">Geplante Tour</th>
				<td><f:link.external uri="{tour.whiterisk}" target="_blank">Tour auf White Risk</f:link.external></td>
			    </tr>
			</f:then>
		    </f:if>
		    <f:render partial="Tour/TourDetails" arguments="{tour:tour, small:small}" />
		    <tr>
			<td colspan="2"><h4>Online Anmeldungen</h4>
			    <span style="float: right; margin-top: -30px;">
			    <f:link.action title="Email an alle Teilnehmer" action="emailParticipant" arguments="{tour: tour}" class="btn btn-primary btn-sm"> <i class="fas fa-envelope"></i> Email an alle Teilnehmer</f:link.action>
			    <f:link.action title="Teilnehmerliste ausdrucken" pageUid="{settings.printPage}" action="listPrintParticipant" arguments="{tour: tour}" class="btn btn-primary btn-sm"> <i class="fas fa-print"></i> Teilnehmerliste ausdrucken</f:link.action>
			    </span>
			    </td>
		    </tr>
		    {v:variable.set(name: 'nr', value: "1")}
		    <tr>
			<td colspan="2"> 
			    <table width="100%">
				<f:for each="{tour.subscriber}" as="participant">
				    <tr>
					<td width="10%" style="white-space: nowrap;"><f:link.action title="Teilnehmer entfernen" controller="Participant" action="deleteForTour" arguments="{tour:tour, participant: participant}"><span class="fa fa-trash" aria-hidden="true"></span></f:link.action> Teilnehmer {nr}: </td>
					<td width="20%" style="white-space: nowrap;"> {participant.name}
					<f:if condition="{participant.feuser} != '0'" >
					    <f:then>
						(Reg)
					    </f:then>
					</f:if>
					<f:if condition="{participant.car} != '0'" >
					    <f:then>
						(Auto)
					    </f:then>
					</f:if>
					<f:if condition="{participant.youth} == '1'" >
					    <f:then>
						(Jugendlicher)
					    </f:then>
					</f:if>
					, {participant.place}&nbsp; 
					<f:if condition="{participant.email}">
					    <f:then>
						<i class="fas fa-envelope" aria-hidden="true"></i> <f:link.email email="{participant.email}"/>
					    </f:then>
					</f:if>
					<br>
					<f:if condition="{participant.phone}">
					    <f:then>
						<i class="fas fa-phone" aria-hidden="true"></i> {participant.phone}
					    </f:then>
					</f:if>
					<f:if condition="{participant.emergency}">
					    <f:then>
						(Notfall <i class="fas fa-phone" aria-hidden="true"></i> {participant.emergency})
					    </f:then>
					</f:if>
					</td>
					<td>{participant.message}</td>
					{nr -> v:math.sum(b:1) -> v:variable.set(name:"nr")}
				    </tr>
				</f:for>
			    </table>  
			    <f:link.action title="Teilnehmer hinzufügen" controller="Participant" action="newForTour" arguments="{tour: tour}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></f:link.action>
			</td>
		    </tr>
		</tbody>
	    </table>
	</div>
    </div>
</div>
