{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tr>
    <td class="tour">
       <f:if condition="{tour.enddate}">
	    <f:then>
		{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber1")}
		{tour.enddate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber2")}
		<h4><f:translate key='day.{daynumber1}' /> {tour.startdate -> f:format.date(format:"d.m.")} - <br><f:translate key='day.{daynumber2}' /> {tour.enddate -> f:format.date(format:"d.m.Y")}</h4>
	    </f:then>
	    <f:else>
		{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber")}
		<h4><f:translate key='day.{daynumber}' /> {tour.startdate -> f:format.date(format:"d.m.Y")}</h4>
	    </f:else>
	</f:if> 
    </td>
    <td colspan="2" class="tour">
	<h4>{tour.title} {tour.type}</h4>
    </td>
</tr>
<tr>
    <td></td>
    <td>Tourenleiter</td>
    <td width="60%">{tour.tourenleiter.name}<br>
	<f:format.nl2br>{tour.tourenleiter.address}</f:format.nl2br><br>
	<i class="fas fa-phone" aria-hidden="true"></i> {tour.tourenleiter.phone}  <br>
	<i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;<f:link.email email="{tour.tourenleiter.email}"/>
    </td>
</tr>
<f:if condition="{tour.difficultyCode}">
    <f:then>
	<tr>
	    <td></td>
	    <td>Schwierigkeitsgrad</td>
	    <td>{tour.difficultyCode}</td>
	</tr>
    </f:then>
</f:if>
<f:if condition="{tour.requirements}">
    <f:then>
	<tr>
	    <td></td>
	    <td>Anforderungen</td>
	    <td>{tour.requirements}</td>
	</tr>
    </f:then>
</f:if>
<tr>
    <td></td>
    <td>Beschreibung</td>
    <td><f:format.nl2br>{tour.description}</f:format.nl2br></td>
</tr>
<f:if condition="{tour.eqipment}">
    <f:then>
	<tr>
	    <td></td>
	    <td>Ausrüstung</td>
	    <td>{tour.equipment}</td>
	</tr>
    </f:then>
</f:if>	    
<f:if condition="{tour.cost}">
    <f:then>
	<tr>
	    <td></td>
	    <td>Kosten</td>
	    <td>{tour.cost}</td>
	</tr>
    </f:then>
</f:if>
<f:if condition="{tour.special}">
    <f:then>
	<tr>
	    <td></td>
	    <td>Spezielles</td>
	    <td>{tour.special}</td>
	</tr>
    </f:then>
</f:if>	    
<f:if condition="{tour.meeting}">
    <f:then>
	<tr>
	    <td></td>
	    <td>Treffpunkt</td>
	    <td>{tour.meeting}</td>
	</tr>
    </f:then>
</f:if>
<f:if condition="{tour.returningtime}">
    <f:then>
	<tr>
	    <td></td>
	    <td>Rückkehr</td>
	    <td>{tour.returningtime}</td>
	</tr>
    </f:then>
</f:if>		    
<tr>
    <td></td>
    <td>Anmeldung</td>
    <td>{tour.signin}</td>
</tr>
<f:if condition="{tour.info}">
    <f:then>
	<tr>
	    <td></td>
	    <td>Auskunft</td>
	    <td>{tour.info}</td>
	</tr>
    </f:then>
</f:if>

