{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tr>
    <td class="tour">
       <f:if condition="{tour.enddate}">
	    <f:then>
		{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber1")}
		{tour.enddate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber2")}
		<h4><f:translate key='day.{daynumber1}' /> {tour.startdate -> f:format.date(format:"d.m.")} - <br><f:translate key='day.{daynumber2}' /> {tour.enddate -> f:format.date(format:"d.m.Y")}</h4>
	    </f:then>
	    <f:else>
		{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber")}
		<h4><f:translate key='day.{daynumber}' /> {tour.startdate -> f:format.date(format:"d.m.Y")}</h4>
	    </f:else>
	</f:if> 
    </td>
    <td colspan="2" class="tour">
	<h4>{tour.title} {tour.type}</h4>
    </td>
</tr>
<tr>
    <td></td>
    <td>Tourenleiter</td>
    <td width="60%">{tour.tourenleiter.name}</td>
</tr>
<f:if condition="{tour.difficultyCode}">
    <f:then>
	<tr>
	    <td></td>
	    <td>Schwierigkeitsgrad</td>
	    <td>{tour.difficultyCode}</td>
	</tr>
    </f:then>
</f:if>
