{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="panel panel-default">
    <div class="panel-heading">
	<f:if condition="{tour.enddate}">
	    <f:then>
		<div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{tour.uid}">{tour.startdate -> f:format.date(format:"d.m.")} - {tour.enddate -> f:format.date(format:"d.m.Y")}</a></div>
	    </f:then>
	    <f:else>
		<div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{tour.uid}">{tour.startdate -> f:format.date(format:"d.m.Y")}</a></div>
	    </f:else>
	</f:if>
	<f:if condition="{small}!='true'">
	    <f:then>
		{tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
		{v:page.info(field: 'uid') -> v:variable.set(name:"backPage")}
		<f:if condition="{tour.report}">
		    
		    <f:then>
			<div class="title-right button"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{tour.uid}">{tour.tourenleiter.name}</a>&nbsp;&nbsp;<f:link.action title="Bericht zur Tour ansehen" controller="Report" action="show" arguments="{year: year, report: tour.report, backPage: backPage}" class="btn btn-primary btn-sm" pageUid="{settings.reportPage}">Bericht</f:link.action></div>
		    </f:then>
		    <f:else>
			<f:if condition="{tour.fotos}">
			    <f:then>
				<div class="title-right button"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{tour.uid}">{tour.tourenleiter.name}</a>&nbsp;&nbsp;<f:link.action title="Fotos zur Tour ansehen" controller="Report" action="listPhoto" arguments="{year: year, report: tour.fotos, backPage: backPage}" class="btn btn-primary btn-sm" pageUid="{settings.fotoPage}" section="collapse{tour.fotos}">Fotos</f:link.action></div>
		   
			    </f:then>
			    <f:else>
				<div class="title-right ohne-button"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{tour.uid}">{tour.tourenleiter.name}</a></div>
			    </f:else>
			</f:if>
		    </f:else>
		</f:if>
	    </f:then>
	</f:if>
	<div><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{tour.uid}">{tour.title} {tour.type}</a></div>
	<div style="clear:left"></div>
    </div>
    <div id="collapse{tour.uid}" class="panel-collapse collapse" data-parent="#accordion">
	<div class="panel-body">
	    <table class="table table-striped">
		<tbody>
		    <tr>
			<th class="first" style="width:30%" scope="row">Ausgeschrieben für</th>
			<f:if condition="{tour.unit}=='1'">
			    <f:then>
				<td class="first">Bergfreunde</td>
			    </f:then>
			</f:if>
			<f:if condition="{tour.unit}=='2'">
			    <f:then>
				<td class="first">Jugendgruppe</td>
			    </f:then>
			</f:if>
			<f:if condition="{tour.unit}=='3'">
			    <f:then>
				<td class="first">Bergfreunde & Jugendgruppe</td>
			    </f:then>
			</f:if>
		    </tr>
		    <tr>
			<th class="first" style="width:30%" scope="row">Datum</th>
			<f:if condition="{tour.enddate}">
			    <f:then>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber1")}
				{tour.enddate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber2")}
				<td class="first"><f:translate key='day.{daynumber1}' /> {tour.startdate -> f:format.date(format:"d.m.")} - <f:translate key='day.{daynumber2}' /> {tour.enddate -> f:format.date(format:"d.m.Y")}</td>
			    </f:then>
			    <f:else>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber")}
				<td class="first"><f:translate key='day.{daynumber}' /> {tour.startdate -> f:format.date(format:"d.m.Y")}</td>
			    </f:else>
			</f:if>
		    </tr>
		    <tr>
			<th scope="row">Tourenleiter</th>
			<td>
			    <f:if condition="{tour.tourenleiter.picture.originalResource.publicUrl}!=''}">
				<f:then>
				    <f:if condition="{small}!='true'">
					<f:then>
					    <f:image class="thumbnail img-responsive" style="float:right" src="{tour.tourenleiter.picture.originalResource.publicUrl}" maxWidth="200"/>
					</f:then>
					<f:else>
					    <f:image class="thumbnail img-responsive" style="float:right" src="{tour.tourenleiter.picture.originalResource.publicUrl}" maxWidth="100"/>
					</f:else>
				    </f:if>
				</f:then>
			    </f:if>
			   {tour.tourenleiter.name}<br>
			    <f:format.nl2br>{tour.tourenleiter.address}</f:format.nl2br><br>
			    <i class="fas fa-phone" aria-hidden="true"></i> {tour.tourenleiter.phone}  <br>
			    <i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;<f:link.email email="{tour.tourenleiter.email}"/>
			    <f:if condition="{small}!='true'">
				<f:then>
				    <br><br>
				    <f:link.action class="btn btn-primary btn-sm" controller="Tourenleiter" pageUid="{settings.tourenleiterPage}" action="show" arguments="{tourenleiter : tour.tourenleiter, backTour: tour.uid}"> Alle Touren von {tour.tourenleiter.name}</f:link.action>
				</f:then>
			    </f:if>
			</td>
		    </tr>
		    <f:render partial="Tour/TourDetails" arguments="{tour:tour, small:small}" />
		</tbody>
	    </table>
	</div>
    </div>
</div>
