{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="panel panel-default">
    <div class="panel-heading">
	<f:if condition="{tour.enddate}">
	    <f:then>
		<div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordionM" href="#mobile{tour.uid}">{tour.startdate -> f:format.date(format:"d.m.")} - {tour.enddate -> f:format.date(format:"d.m.Y")}</a></div>
	    </f:then>
	    <f:else>
		<div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordionM" href="#mobile{tour.uid}">{tour.startdate -> f:format.date(format:"d.m.Y")}</a></div>
	    </f:else>
	</f:if>
	<div><a title="zeige Details" data-toggle="collapse" data-parent="#accordionM" href="#mobile{tour.uid}">{tour.title} {tour.type}</a></div>
	<div style="clear:left"></div>
    </div>
    <div id="mobile{tour.uid}" class="panel-collapse collapse">
	<div class="panel-body">
	    <table class="table table-striped">
		<tbody>
		    <tr>
			<th class="first" style="width:30%" scope="row">Datum</th>
			<f:if condition="{tour.enddate}">
			    <f:then>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber1")}
				{tour.enddate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber2")}
				<td class="first"><f:translate key='day.{daynumber1}' /> {tour.startdate -> f:format.date(format:"d.m.")} - <f:translate key='day.{daynumber2}' /> {tour.enddate -> f:format.date(format:"d.m.Y")}</td>
			    </f:then>
			    <f:else>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber")}
				<td class="first"><f:translate key='day.{daynumber}' /> {tour.startdate -> f:format.date(format:"d.m.Y")}</td>
			    </f:else>
			</f:if>
		    </tr>
		    <tr>
			<th scope="row">Tourenleiter</th>
			<td>
			    <f:if condition="{tour.tourenleiter.picture.originalResource.publicUrl}!=''}">
				<f:then>
				    <f:image class="thumbnail img-responsive" style="float:right" src="{tour.tourenleiter.picture.originalResource.publicUrl}" maxWidth="100"/>
				</f:then>
			    </f:if>
			   {tour.tourenleiter.name}<br>
			    <f:format.nl2br>{tour.tourenleiter.address}</f:format.nl2br><br>
			    <i class="fa fa-phone" aria-hidden="true"></i> {tour.tourenleiter.phone}  <br>
			    <i class="fa fa-envelope" aria-hidden="true"></i> <f:link.email email="{tour.tourenleiter.email}"/>
			</td>
		    </tr>
		    <f:render partial="Tour/TourDetails" arguments="{tour:tour, small:'true'}" />
		</tbody>
	    </table>
	</div>
    </div>
</div>
