{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="panel panel-default">
    <div class="panel-heading">
	<f:if condition="{tour.enddate}">
	    <f:then>
		<div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion{tour.tourenleiter.uid}" href="#collapse{tour.uid}">{tour.startdate -> f:format.date(format:"d.m.")} - {tour.enddate -> f:format.date(format:"d.m.Y")}</a></div>
	    </f:then>
	    <f:else>
		<div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion{tour.tourenleiter.uid}" href="#collapse{tour.uid}">{tour.startdate -> f:format.date(format:"d.m.Y")}</a></div>
	    </f:else>
	</f:if>
	<f:if condition="{tour.report}">
	    <f:then>
		{v:page.info(field: 'uid') -> v:variable.set(name:"backPage")}
		<div class="title-right button"><f:link.action controller="Report" action="show" arguments="{report: tour.report, backPage: backPage}" class="btn btn-primary btn-sm" pageUid="{settings.reportPage}">Bericht</f:link.action></div>
	    </f:then>
	</f:if>
	<div><a title="zeige Details" data-toggle="collapse" data-parent="#accordion{tour.tourenleiter.uid}" href="#collapse{tour.uid}">{tour.title} {tour.type}</a></div>
	<div style="clear:left"></div>
    </div>
    <div id="collapse{tour.uid}" class="panel-collapse collapse" data-parent="#accordion{tour.tourenleiter.uid}">
	<div class="panel-body">
	    <table class="table table-striped">
		<tbody>
		    <tr>
			<th class="first" style="width:30%" scope="row">Datum</th>
			<f:if condition="{tour.enddate}">
			    <f:then>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber1")}
				{tour.enddate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber2")}
				<td class="first"><f:translate key='day.{daynumber1}' /> {tour.startdate -> f:format.date(format:"d.m.")} - <f:translate key='day.{daynumber2}' /> {tour.enddate -> f:format.date(format:"d.m.Y")}</td>
			    </f:then>
			    <f:else>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber")}
				<td class="first"><f:translate key='day.{daynumber}' /> {tour.startdate -> f:format.date(format:"d.m.Y")}</td>
			    </f:else>
			</f:if>
		    </tr>
		    <f:render partial="Tour/TourDetails" arguments="{tour:tour}" />
		</tbody>
	    </table>
	</div>
    </div>
</div>
