{namespace v=FluidTYPO3\Vhs\ViewHelpers}


		    <f:if condition="{tour.difficultyCode}">
			<f:then>
			    <tr>
				<th scope="row">Schwierigkeitsgrad</th>
				<td>{tour.difficultyCode}&nbsp;&nbsp;(
				<f:switch expression="{tour.type}">
				    <f:case value="(S)"><a title="zeige Schwierigkeitsskala" href="#skiModal"  data-toggle="modal">Schwierigkeitsskala</a></f:case>
				    <f:case value="(S/SB)"><a title="zeige Schwierigkeitsskala" href="#skiModal"  data-toggle="modal">Schwierigkeitsskala</a></f:case>
				    <f:case value="(SB)"><a title="zeige Schwierigkeitsskala" href="#skiModal"  data-toggle="modal">Schwierigkeitsskala</a></f:case>
				    <f:case value="(SL)"><a title="zeige Schwierigkeitsskala" href="#schuhModal"  data-toggle="modal">Schwierigkeitsskala</a></f:case>
				    <f:case value="(W)"><a title="zeige Schwierigkeitsskala" href="#wanderModal"  data-toggle="modal">Schwierigkeitsskala</a></f:case>
				    <f:case value="(BW)"><a title="zeige Schwierigkeitsskala" href="#wanderModal"  data-toggle="modal">Schwierigkeitsskala</a></f:case>
				    <f:case value="(HT)"><a title="zeige Schwierigkeitsskala" href="#hochModal"  data-toggle="modal">Schwierigkeitsskala</a></f:case>
				    <f:case value="(KS)"><a title="zeige Schwierigkeitsskala" href="#kletterModal"  data-toggle="modal">Schwierigkeitsskala</a></f:case>
				    <f:case value="(MTB)"><a title="zeige Schwierigkeitsskala" href="#bikeModal"  data-toggle="modal">Schwierigkeitsskala</a></f:case>
				</f:switch> )
			    </tr>
			</f:then>
		    </f:if>
		    <f:if condition="{tour.requirements}">
			<f:then>
			    <tr>
				<th scope="row">Anforderungen</th>
				<td>{tour.requirements}</td>
			    </tr>
			</f:then>
		    </f:if>
		    <tr>
			<th scope="row">Beschreibung</th>
			<td><f:format.nl2br>{tour.description}</f:format.nl2br></td>
		    </tr>
		    <f:if condition="{tour.equipment}">
			<f:then>
			    <tr>
				<th scope="row">Ausrüstung</th>
				<td>{tour.equipment}</td>
			    </tr>
			</f:then>
		    </f:if>
		    
		    <f:if condition="{tour.cost}">
			<f:then>
			    <tr>
				<th scope="row">Kosten</th>
				<td>{tour.cost}</td>
			    </tr>
			</f:then>
		    </f:if>
		    <f:if condition="{tour.special}">
			<f:then>
			    <tr>
				<th scope="row">Spezielles</th>
				<td>{tour.special}</td>
			    </tr>
			</f:then>
		    </f:if>
		    
		    <f:if condition="{tour.meeting}">
			<f:then>
			    <tr>
				<th scope="row">Besammlung</th>
				<td>{tour.meeting}</td>
			    </tr>
			</f:then>
		    </f:if>
		    <f:if condition="{tour.returningtime}">
			<f:then>
			    <tr>
				<th scope="row">Rückkehr</th>
				<td>{tour.returningtime}</td>
			    </tr>
			</f:then>
		    </f:if>
		    
		    <f:if condition="{tour.info}">
			<f:then>
			    <tr>
				<th scope="row">Auskunft</th>
				<td>{tour.info}</td>
			    </tr>
			</f:then>
		    </f:if>
		    <tr>
			<th scope="row">Anmeldung</th>
			<td>{tour.signin}&nbsp;&nbsp;
			<f:if condition="{tour.eregister}==1">
			    <f:then>
				<f:if condition="{tour.startdate} > {v:system.dateTime()}">
				    <f:then>
					<f:link.action class="btn btn-primary btn-sm" controller="Participant" pageUid="{settings.tourPage}" action="new" arguments="{tour: tour}">Online Anmeldung</f:link.action>
				    </f:then>
				</f:if>
			    </f:then>
			</f:if>
			</td>
		    </tr>