
<f:layout name="Default" />

<f:section name="main">
<h1>Tourenleiter bearbeiten</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Tourenleiter}" />

<f:form onsubmit="document.getElementById('submit_button').disabled = 1;" class="form-horizontal" action="update" name="tourenleiter" object="{tourenleiter}" arguments="{tour:tour}" enctype="multipart/form-data" >
<f:render partial="Tourenleiter/FormFields" arguments="{tourenleiter:tourenleiter, types:types}" />
    <f:if condition="{tour}">
	<f:then>
	    <f:link.page section="collapse{tour.uid}" class="btn btn-danger">zurück</f:link.page>
	</f:then>
	<f:else>
	    <f:link.page section="collapse{tourenleiter.uid}" class="btn btn-danger">zurück</f:link.page>
	</f:else>
    </f:if>
    &nbsp;
    <f:form.submit class="powermail_submit btn btn-primary" value="Speichern" id="submit_button"/>
</f:form>
</f:section>