
<f:layout name="Default" />

<f:section name="main">
<div class="accordion" id="accordionL">
    <table class="table table-striped">
	<tbody>
	<f:for each="{tourenleiters}" as="tourenleiter">
		    <tr>
			<th style="width:30%" scope="row">{tourenleiter.function}</th>
			<td>
		            <f:if condition="{tourenleiter.picture.originalResource.publicUrl}!=''}">
				<f:then>
				    <f:image class="thumbnail" src="{tourenleiter.picture.originalResource.publicUrl}" maxWidth="150"/>
				</f:then>
			    </f:if>
			</td>
			<td><b>{tourenleiter.name}</b><br><f:format.nl2br>{tourenleiter.address}</f:format.nl2br><br></td>
			<td><i class="fas fa-envelope" aria-hidden="true"></i>&nbsp; <f:link.email email="{tourenleiter.email}"/></td>
			<td><i class="fas fa-phone" aria-hidden="true"></i> {tourenleiter.phone}</td>
		    </tr>
	</f:for>
	</tbody>
    </table>
</div>

</f:section>