
<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
<div class="accordion" id="accordionL">
    <f:for each="{tourenleiters}" as="tourenleiter">
	<f:render partial="Tourenleiter/singleTourenleiter" arguments="{tourenleiter:tourenleiter, year:year, tours: tours}" />
    </f:for>
</div>
<f:render partial="Tour/modalBoxes" />
</f:section>