
<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
<f:link.action title="neuer Tourenleiter anlegen" action="new" class="btn btn-primary btn-sm"><span class="fa fa-file" aria-hidden="true"></span> Neuer Tourenleiter</f:link.action>
<br><br>
<div class="accordion" id="accordion">
    <f:for each="{tourenleiters}" as="tourenleiter">
	<f:render partial="Tourenleiter/singleEditTourenleiter" arguments="{tourenleiter:tourenleiter, year:year, tours: tours}" />
    </f:for>
</div><h3>Vorstand</h3>

<div class="accordion" id="accordionV">
    <f:for each="{vorstand}" as="mitglied">
	<f:render partial="Tourenleiter/singleEditVorstand" arguments="{mitglied:mitglied}" />
    </f:for>
</div>

</f:section>