
<f:layout name="Default" />

<f:section name="main">
<h1>Neuer Tourenleiter</h1>


<f:render partial="FormErrors" arguments="{object:Tourenleiter}" />

<f:form onsubmit="document.getElementById('submit_button').disabled = 1;" class="form-horizontal" action="create"  enctype="multipart/form-data"  name="newTourenleiter" object="{newTourenleiter}">
<f:render partial="Tourenleiter/FormFields" arguments="{types:types}" />
	<f:link.page class="btn btn-danger">zurück</f:link.page>
	<f:form.submit class="powermail_submit btn btn-primary" value="Speichern" id="submit_button"/>
</f:form>
</f:section>