{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <h1>Tourenleiter: {tourenleiter.name}</h1>
<f:flashMessages />

{year -> v:math.sum(b:1) -> v:variable.set(name:"next")}
{year -> v:math.sum(b:"-1") -> v:variable.set(name:"prev")}


<f:render partial="Tourenleiter/Properties" arguments="{tourenleiter:tourenleiter}" />
<h4> Alle Touren von {tourenleiter.name}</h4>
<div class="year"><f:link.action title="vorheriges Jahr" controller="Tourenleiter" action="show" arguments="{tourenleiter : tourenleiter, year : prev}"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></f:link.action> {year} <f:link.action title="nächstes Jahr" controller="Tourenleiter" action="show" arguments="{tourenleiter : tourenleiter, year : next}"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></f:link.action></div>
<div id="accordion{tourenleiter.uid}">
    <f:for each="{tours}" as="tour">
	<f:render partial="Tour/singleTourOhneLeiter" arguments="{tour:tour}" />
    </f:for>
</div>
<f:link.action pageUid="{settings.tourPage}" section="collapse{backTour}" class="powermail_submit btn btn-primary" controller="Tour" action="list">zurück</f:link.action>
<f:link.action class="powermail_submit btn btn-primary" action="list">Alle Tourenleiter</f:link.action><br />
</f:section>