
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Report</h1>

<f:flashMessages />

<table  class="tx_hibtourenplanung" >
	<tr>
		<th><f:translate key="tx_hibtourenplanung_domain_model_report.title" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_report.shorttext" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_report.text" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_report.state" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_report.author" /></th>
		<th><f:translate key="tx_hibtourenplanung_domain_model_report.picture" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{reports}" as="report">
		<tr>
			<td><f:link.action action="show" arguments="{report : report}"> {report.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{report : report}"> {report.shorttext}</f:link.action></td>
			<td><f:link.action action="show" arguments="{report : report}"> {report.text}</f:link.action></td>
			<td><f:link.action action="show" arguments="{report : report}"> {report.state}</f:link.action></td>
			<td><f:link.action action="show" arguments="{report : report}"> {report.author}</f:link.action></td>
			<td><f:link.action action="show" arguments="{report : report}"> {report.picture.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{report : report}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{report : report}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Report</f:link.action>
</f:section>