{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<h1>Tour löschen</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Tour}" />
{tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
<f:form class="form-horizontal" action="deleteNow" name="tour" object="{tour}" enctype="multipart/form-data" >
Möchtest du diese Tour wirklich löschen?
<f:if condition="{tour.enddate}">
    <f:then>
	{tour.startdate -> f:format.date(format:"d.m.")} - {tour.enddate -> f:format.date(format:"d.m.Y")}
    </f:then>
    <f:else>
	{tour.startdate -> f:format.date(format:"d.m.Y")}
    </f:else>
</f:if>
{tour.title}<br>
<f:link.action class="btn btn-danger" arguments="{year:year}" section="collapse{tour.uid}">abbrechen</f:link.action>
<f:form.submit class="powermail_submit btn btn-primary" value="Löschen" />
</f:form>
</f:section>