{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<h1>Tour bearbeiten</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Tour}" />
{tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
<f:form onsubmit="checkEmpty(); document.getElementById('submit_button').disabled = 1;" class="form-horizontal" action="update" name="tour" object="{tour}" enctype="multipart/form-data" >
<f:render partial="Tour/FormFields" arguments="{tour:tour, types:types, difficulties:difficulties, units:units, tourenleiter:tourenleiter}" />
	<f:link.action class="btn btn-danger" arguments="{year:year}" section="collapse{tour.uid}">zurück</f:link.action>
	<f:form.submit class="powermail_submit btn btn-primary" value="Speichern" id="submit_button"/>
</f:form>
</f:section>