{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <f:if condition="{tour.enddate}">
    <f:then>
	<h1>{tour.title} vom {tour.startdate -> f:format.date(format:"d.m.")} - {tour.enddate -> f:format.date(format:"d.m.Y")}</h1>
    </f:then>
    <f:else>
	<h1>{tour.title} vom {tour.startdate -> f:format.date(format:"d.m.Y")}</h1>
    </f:else>
    </f:if>
<h2>Email an alle Teilnehmer schicken</h2>

{tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
<f:form onsubmit="document.getElementById('submit_button').disabled = 1;" class="form-horizontal" action="sendEmailParticipant" name="tour" object="{tour}" enctype="multipart/form-data" >
    <fieldset class="powermail_fieldset powermail_fieldset_2 nolabel">
	<div class="form-group">
	    <label for="title" class="control-label col-sm-2">Betreff</label>
	    <div class="col-sm-10">
		<f:form.textfield class="powermail_input form-control" property="title" value="BL Tour: {tour.title} vom {tour.startdate -> f:format.date(format:'d.m.Y')}"/>
	    </div>
	</div>
	<div class="form-group">
	    <label for="description" class="control-label col-sm-2">Text</label>
	    <div class="col-sm-10">
		<f:form.textarea rows="5" cols="40" class="powermail_input form-control" property="description" value=""/>
	    </div>
	</div>
    </fieldset>
    <f:for each="{tour.subscriber}" as="participant">
	<f:if condition="{participant.email}=='' ">
	    <f:then>
		<li><b>Achtung: {participant.name} hat keine Email-Adresse erfasst und bekommt deshalb dieses Email nicht!</b></li>
	    </f:then>
	</f:if>
    </f:for>
    <br>
    <f:link.action class="btn btn-danger" arguments="{year:year}" section="collapse{tour.uid}">zurück</f:link.action>
    <f:form.submit class="powermail_submit btn btn-primary" value="Email versenden" id="submit_button"/>
</f:form>
</f:section>