{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />



<f:section name="main">

<div class="year">Teilnehmerliste für Tour {tour.title}
	<f:if condition="{tour.enddate}">
	    <f:then>
		{tour.startdate -> f:format.date(format:"d.m.")} - {tour.enddate -> f:format.date(format:"d.m.Y")}
	    </f:then>
	    <f:else>
		{tour.startdate -> f:format.date(format:"d.m.Y")}
	    </f:else>
	</f:if>
</div>
    <table class="table tourprint" style="padding-left: 50px;padding-right: 50px;">
	<tbody>
	<th>Name</th><th>Telefon</th><th>Email</th><th>Wohnort</th><th>Notfall-Nummer</th>
	    <tr>
		    <td>Tourenleiter: {tour.tourenleiter.name}</td><td>{tour.tourenleiter.phone}</td><td>{tour.tourenleiter.email}</td><td>{tour.tourenleiter.address}</td><td>{tour.tourenleiter.emergency}</td>	
	    </tr>
	    <f:for each="{tour.subscriber}" as="person">
		<tr>
		    <td>{person.name}</td><td>{person.phone}</td><td>{person.email}</td><td>{person.place}</td><td>{person.emergency}</td>	
		</tr>
	    </f:for>
	</tr>
	</tbody>
    </table>
    <br><br>

    <div class="year">Notfall Checkliste</div>
    <v:content.render contentUids="{0:48}"></v:content.render>
    <br><br>

    <div class="year pagebreak">Teilnehmerliste für Tour {tour.title}
	<f:if condition="{tour.enddate}">
	    <f:then>
		{tour.startdate -> f:format.date(format:"d.m.")} - {tour.enddate -> f:format.date(format:"d.m.Y")}
	    </f:then>
	    <f:else>
		{tour.startdate -> f:format.date(format:"d.m.Y")}
	    </f:else>
	</f:if>
	(an einen Teilnehmer abgeben)
    </div>
    <table class="table tourprint" style="padding-left: 50px;padding-right: 50px;">
	<tbody>
	<th>Name</th>
	    <tr>
		<td>Tourenleiter: {tour.tourenleiter.name}, {tour.tourenleiter.address}, {tour.tourenleiter.email}, Tel:{tour.tourenleiter.phone} (Notfall Tel:{tour.tourenleiter.emergency})</td>
	    </tr>
	    <f:for each="{tour.subscriber}" as="person">
		<tr>
		    <td>{person.name}</td>
		</tr>
	    </f:for>
	</tbody>
    </table>
    <br><br>
    <div class="year">Notfall Checkliste</div>
    <v:content.render contentUids="{0:48}"></v:content.render>
</f:section>