{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

<div class="year">die nächsten Touren:</div>
<div id="accordionM">
    <f:for each="{tours}" as="tour">
	<f:render partial="Tour/singleMobile" arguments="{tour:tour, news: news}" />
    </f:for>
    <div class="year">News:</div>
    <f:for each="{news}" as="new">
	<div class="panel panel-news"> {new.date -> f:format.date(format:"d.m.")} <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;<a href="{new.uri}">{new.text}</a></div>
    </f:for>
</div>
<f:render partial="Tour/modalBoxes" arguments="{tour:tour}" />
</f:section>