{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />



<f:section name="main">

<div class="year">Provisorisches BL Tourenprogramm {year} </div>
    <table class="table tourprint">
	<tbody>
	    <f:for each="{tours}" as="tour">
	
		{tour.startdate -> f:format.date(format:"m") -> v:variable.set(name:"monthNew")}
		<f:if condition="{month}!={monthNew}">
		    <f:then>
			<f:switch expression="{monthNew}">
			    <f:case value="01"><tr><td class = "month" colspan="3">Januar</td></tr></f:case>
			    <f:case value="02"><tr><td class = "month" colspan="3">Februar</td></tr></f:case>
			    <f:case value="03"><tr><td class = "month" colspan="3">März</td></tr></f:case>
			    <f:case value="04"><tr><td class = "month" colspan="3">April</td></tr></f:case>
			    <f:case value="05"><tr><td class = "month" colspan="3">Mai</td></tr></f:case>
			    <f:case value="06"><tr><td class = "month" colspan="3">Juni</td></tr></f:case>
			    <f:case value="07"><tr><td class = "month" colspan="3">Juli</td></tr></f:case>
			    <f:case value="08"><tr><td class = "month" colspan="3">August</td></tr></f:case>
			    <f:case value="09"><tr><td class = "month" colspan="3">September</td></tr></f:case>
			    <f:case value="10"><tr><td class = "month" colspan="3">Oktober</td></tr></f:case>
			    <f:case value="11"><tr><td class = "month" colspan="3">November</td></tr></f:case>
			    <f:case value="12"><tr><td class = "month" colspan="3">Dezember</td></tr></f:case>
			    <f:defaultCase></f:defaultCase>
			</f:switch>
		    </f:then>
		</f:if>
		{tour.startdate -> f:format.date(format:"m") -> v:variable.set(name:"month")}

		<f:render partial="Tour/singleTourPrintProv" arguments="{tour:tour}" />
		{monthNew -> v:variable.set(name: 'month')}
	    </f:for>
	</tbody>
    </table>
<h3>Jugendgruppe </h3>
    <table class="table tourprint">
	<tbody>
	    <f:for each="{toursJ}" as="tour">
	
		{tour.startdate -> f:format.date(format:"m") -> v:variable.set(name:"monthNew")}
		<f:if condition="{month}!={monthNew}">
		    <f:then>
			<f:switch expression="{monthNew}">
			    <f:case value="01"><tr><td class = "month" colspan="3">Januar</td></tr></f:case>
			    <f:case value="02"><tr><td class = "month" colspan="3">Februar</td></tr></f:case>
			    <f:case value="03"><tr><td class = "month" colspan="3">März</td></tr></f:case>
			    <f:case value="04"><tr><td class = "month" colspan="3">April</td></tr></f:case>
			    <f:case value="05"><tr><td class = "month" colspan="3">Mai</td></tr></f:case>
			    <f:case value="06"><tr><td class = "month" colspan="3">Juni</td></tr></f:case>
			    <f:case value="07"><tr><td class = "month" colspan="3">Juli</td></tr></f:case>
			    <f:case value="08"><tr><td class = "month" colspan="3">August</td></tr></f:case>
			    <f:case value="09"><tr><td class = "month" colspan="3">September</td></tr></f:case>
			    <f:case value="10"><tr><td class = "month" colspan="3">Oktober</td></tr></f:case>
			    <f:case value="11"><tr><td class = "month" colspan="3">November</td></tr></f:case>
			    <f:case value="12"><tr><td class = "month" colspan="3">Dezember</td></tr></f:case>
			    <f:defaultCase></f:defaultCase>
			</f:switch>
		    </f:then>
		</f:if>
		{tour.startdate -> f:format.date(format:"m") -> v:variable.set(name:"month")}

		<f:render partial="Tour/singleTourPrintProv" arguments="{tour:tour}" />
		{monthNew -> v:variable.set(name: 'month')}
	    </f:for>
	</tbody>
    </table>
</f:section>