{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />



<f:section name="main">


<div class="year front">die nächsten Touren:</div>
<div id="accordion" class="front">
    <f:for each="{tours}" as="tour">
	<f:render partial="Tour/singleTour" arguments="{tour:tour, small:'true'}" />
    </f:for>
    <div class="news-titel">News:</div>
    <f:for each="{news}" as="new">
	<div class="panel panel-news"> {new.date -> f:format.date(format:"d.m.")} <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;<a href="{new.uri}">{new.text}</a></div>
	</f:for>
</div>

<f:render partial="Tour/modalBoxes" arguments="{tour:tour}" />
</f:section>