
<f:layout name="Default" />


<f:section name="main">
<h1>Neue Tour</h1>

<f:render partial="FormErrors" arguments="{object:Tour}" />
<f:form onsubmit="checkEmpty(); document.getElementById('submit_button').disabled = 1;" class="form-horizontal" action="create"  enctype="multipart/form-data"  name="newTour" object="{newTour}">
<f:render partial="Tour/FormFields" arguments="{types:types, difficulties:difficulties, units:units, tourenleiter:tourenleiter, login:login}"/>
	<f:link.page class="btn btn-danger">zurück</f:link.page>
	<f:form.submit class="powermail_submit btn btn-primary" value="Speichern" id="submit_button"/>
</f:form>
</f:section>