{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<h1>Tour {tour.title} {tour.type}</h1>

<f:flashMessages />
{tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
<f:render partial="Tour/Properties" arguments="{tour:tour}" /><br><br>
<f:link.action class="powermail_submit btn btn-primary" arguments="{year:year}" action="listEdit">Alle Touren</f:link.action><br />
</f:section>