{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />



<f:section name="main">
{year -> v:math.sum(b:1) -> v:variable.set(name:"next")}
{year -> v:math.sum(b:"-1") -> v:variable.set(name:"prev")}
<div class="year"><f:link.action title="vorheriges Jahr" action="statistic" arguments="{year : prev}"><i class="fas fa-backward"></i></f:link.action> {year} <f:link.action title="nächstes Jahr" action="statistic" arguments="{year : next}"><i class="fas fa-forward"></i></f:link.action></div>

<nav id="statistic" class="nav nav-tabs mb-3" role="tablist">
    <a id="ov" class="nav-item nav-link active" href="#tab-statistic-ov" data-toggle="tab" role="tab" aria-controls="tab-statistic-ov" aria-selected="true">
			Übersicht
    </a>
    <a id="det" class="nav-item nav-link" href="#tab-statistic-det" data-toggle="tab" role="tab" aria-controls="tab-statistic-det" aria-selected="false">
			Details
    </a>
</nav>
    <div id="statisticContainer" class="tab-content">
	<div id="tab-statistic-ov"class="tab-pane fade show active" role="tabpanel" aria-labelledby="ov">
	    <h3>Pro Tourenleiter</h3>
	    <table style="width: 60%;" class="table table-striped statistic">
		<tbody>
		    <tr>
			<th></th>
			<th class="statisticLine">Ausgeschrieben</th>
			<th class="statisticLine">Durchgeführt</th>
			<th class="statisticLine">Teilnehmer</th>
		    </tr>
		    <tr>	
			<f:for each="{statistic}" as="tourenleiter" key="leiter">
			    <tr>
			    <td>{leiter}</td>	
			    <f:for each="{tourenleiter}" as="month" key="mon">
				<f:if condition="{mon}==13">
				    <f:then>
					<td class="statisticLine">{month.Ausgeschrieben}</td>
					<td class="statisticLine">{month.Durchgefuehrt}</td>
					<td class="statisticLine">{month.Teilnehmer}</td>
				    </f:then>
				</f:if>
			    </f:for>
			    </tr>
			</f:for>
		    </tr>
		</tbody>
	    </table>
	    <br><br>
	    <h3>Pro Monat</h3>
	    <table class="table table-striped">
		<tbody>
		    <tr>
			<th></th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Jan</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Feb</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">März</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">April</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Mai</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Juni</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Juli</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Aug</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Sep</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Okt</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Nov</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Dez</th>
			<th colspan="3" style="text-align: center;" class="statisticLine total"><b>Total</b></th>
		    </tr>
		    <tr class="statisticLine">
			<th></th>
			<f:for each="{1:'1',2:'2',3:'3',4:'4',5:'5',6:'6',7:'7',8:'8',9:'9',10:'10',11:'11',12:'12',13:'13'}"  as="x" key="mon">
			    <f:if condition="{mon}=='13'">
				<f:then>
				    <th class="statisticLine total"> <a title="Ausgeschrieben" href="#">A</a></th><th class="total"><a title="Durchgeführt" href="#">D</a></th><th class="total"><a title="Teilnehmer" href="#">T</a></th>
				</f:then>
				<f:else>
				    <th class="statisticLine"> <a title="Ausgeschrieben" href="#">A</a></th><th><a title="Durchgeführt" href="#">D</a></th><th><a title="Teilnehmer" href="#">T</a></th>
				</f:else>
			    </f:if>
			</f:for>
		    </tr> 
		    <tr>
			    <td>Total</td>	
			<f:for each="{statistic}" as="tourenleiter" key="leiter">
			    <f:if condition="{leiter}=='Total'">
				<f:then>
				    <f:for each="{tourenleiter}" as="month" key="mon">
					<f:if condition="{mon}==13">
					    <f:then>
						<td class="statisticLine total">{month.Ausgeschrieben}</td>
						<td class="total">{month.Durchgefuehrt}</td>
						<td class="total">{month.Teilnehmer}</td>
					    </f:then>
					    <f:else>
						<td class="statisticLine">{month.Ausgeschrieben}</td>
						<td>{month.Durchgefuehrt}</td>
						<td>{month.Teilnehmer}</td>
					    </f:else>
					</f:if>
				    </f:for>
				</f:then>
			    </f:if>
			</f:for>
		    </tr>
		</tbody>
	    </table>
	    <br>
	    A = Ausgeschrieben, D = Durchgeführt, T = Teilnehmer
	    <br><br>
	</div>
	<div id="tab-statistic-det"class="tab-pane fade" role="tabpanel" aria-labelledby="det">
	    <table class="table table-striped statistic">
		<tbody>
		    <tr>
			<th></th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Jan</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Feb</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">März</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">April</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Mai</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Juni</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Juli</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Aug</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Sep</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Okt</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Nov</th>
			<th colspan="3" style="text-align: center;" class="statisticLine">Dez</th>
			<th colspan="3" style="text-align: center;" class="statisticLine total"><b>Total</b></th>
		    </tr>
		    <tr class="statisticLine">
			<th>Tourenleiter</th>
			<f:for each="{1:'1',2:'2',3:'3',4:'4',5:'5',6:'6',7:'7',8:'8',9:'9',10:'10',11:'11',12:'12',13:'13'}"  as="x" key="mon">
			    <f:if condition="{mon}=='13'">
				<f:then>
				    <th class="statisticLine total"> <a title="Ausgeschrieben" href="#">A</a></th><th class="total"><a title="Durchgeführt" href="#">D</a></th><th class="total"><a title="Teilnehmer" href="#">T</a></th>
				</f:then>
				<f:else>
				    <th class="statisticLine"> <a title="Ausgeschrieben" href="#">A</a></th><th><a title="Durchgeführt" href="#">D</a></th><th><a title="Teilnehmer" href="#">T</a></th>
				</f:else>
			    </f:if>    
			</f:for>
		    </tr>
		    <f:for each="{statistic}" as="tourenleiter" key="leiter">
			<tr>
			    <td>{leiter}</td>	
			    <f:for each="{tourenleiter}" as="month" key="mon">
				<f:if condition="{mon}==13">
				    <f:then>
					<td class="statisticLine total">{month.Ausgeschrieben}</td>
					<td class="total">{month.Durchgefuehrt}</td>
					<td class="total">{month.Teilnehmer}</td>
				    </f:then>
				    <f:else>
					<td class="statisticLine">{month.Ausgeschrieben}</td>
					<td>{month.Durchgefuehrt}</td>
					<td>{month.Teilnehmer}</td>
				    </f:else>
				</f:if>
			    </f:for>
			</tr>
		    </f:for>
		</tbody>
	    </table>
	    <br>
	    A = Ausgeschrieben, D = Durchgeführt, T = Teilnehmer
	    <br><br>
	</div>
    </div>

</f:section>