
<label for="name">
	<f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="address">
	<f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.address" />
</label><br />
	<f:form.textarea property="address" cols="40" rows="15" /><br />
<label for="phone">
	<f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="picture">
	<f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.picture" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />