
<table class="tx-hib-tourenplanung" >
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.name" />
		</td>
		<td>
			{tourenleiter.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.email" />
		</td>
		<td>
			{tourenleiter.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.address" />
		</td>
		<td>
			{tourenleiter.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.phone" />
		</td>
		<td>
			{tourenleiter.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_tourenleiter.picture" />
		</td>
		<td>
			{tourenleiter.picture.originalResource.name}
		</td>
	</tr>
</table>