
<label for="title">
	<f:translate key="tx_hibtourenplanung_domain_model_report.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="shorttext">
	<f:translate key="tx_hibtourenplanung_domain_model_report.shorttext" />
</label><br />
	<f:form.textarea property="shorttext" cols="40" rows="15" /><br />
<label for="text">
	<f:translate key="tx_hibtourenplanung_domain_model_report.text" />
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="state">
	<f:translate key="tx_hibtourenplanung_domain_model_report.state" />
</label><br />
	<f:form.textfield property="state" /><br />
<label for="author">
	<f:translate key="tx_hibtourenplanung_domain_model_report.author" />
</label><br />
	<f:form.textfield property="author" /><br />
<label for="picture">
	<f:translate key="tx_hibtourenplanung_domain_model_report.picture" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />