
<table class="tx-hib-tourenplanung" >
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_report.title" />
		</td>
		<td>
			{report.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_report.shorttext" />
		</td>
		<td>
			{report.shorttext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_report.text" />
		</td>
		<td>
			{report.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_report.state" />
		</td>
		<td>
			{report.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_report.author" />
		</td>
		<td>
			{report.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_report.picture" />
		</td>
		<td>
			{report.picture.originalResource.name}
		</td>
	</tr>
</table>