{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="list-inline">
    {v:variable.set(name: 'counter', value: 0)}
    <f:for each="{report.picture}" as="picture">
	<li class="list-inline-item"><a href="#myModal{report.uid}" data-slide-to="{counter}" data-toggle="modal"><f:image class="img-thumbnail" src="{picture.originalResource.publicUrl}" width="200" maxHeight="153"/></a><f:link.action title="Foto löschen" controller="Report" action="deletePhoto" arguments="{picture:picture.Uid, report: report}" class="btn btn-primary btn-sm"><i class="fas fa-trash"></i></f:link.action></li>
	{counter -> v:math.sum(b:1) -> v:variable.set(name:"counter")}
    </f:for>
</div>

<!--begin modal window-->
<div class="modal fade" id="myModal{report.uid}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
		<div class="pull-left">Bilder zur Tour {report.tour.title}</div>
		<button type="button" class="close" data-dismiss="modal" title="Close">
		    <span class="glyphicon glyphicon-remove"></span></button>
	    </div>
	    <div class="modal-body">

		<!--begin carousel-->
		<div id="myGallery{report.uid}" class="carousel slide carousel-fade" data-ride="carousel" >
		    <div class="carousel-inner">
			{v:variable.set(name: 'first', value: "yes")}
			<f:for each="{report.picture}" as="picture">
			    <f:if condition="{first}=='yes'">
				<f:then>
				    <div class="carousel-item active">
				    {v:variable.set(name: 'first', value: "no")}
				</f:then>
				<f:else>
				    <div class="carousel-item">
				</f:else>
			    </f:if>
			    <f:image alt="item{picture.uid}" src="{picture.originalResource.publicUrl}" width="1200"/>
			    </div>
			</f:for>
		    <!--end carousel-inner--></div>

		    <!--Begin Previous and Next buttons-->
		    <a class="carousel-control-prev" href="#myGallery{report.uid}" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon"></span></a> 
		    <a class="carousel-control-next" href="#myGallery{report.uid}" role="button" data-slide="next">
			<span class="carousel-control-next-icon"></span></a>
		<!--end myGallery--></div>

	    <!--end modal-body--></div>
	    <div class="modal-footer">
		<div class="pull-left">
		    <small></small>
		</div>
		<button class="btn-sm close" type="button" data-dismiss="modal">Schliessen</button>
	    <!--end modal-footer--></div>
	<!--end modal-content--></div>
    <!--end modal-dialoge--></div>
<!--end myModal--></div>