{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<fieldset class="powermail_fieldset powermail_fieldset_2 nolabel">
    <div class="form-group">
	<label for="title" class="control-label col-sm">Tour</label>
	<div class="col-sm-10">
	    <f:form.select  class="powermail_input form-control" property="tour" options="{touren}" optionValueField="uid" optionLabelField="title" />
	</div>
    </div>
    <div class="form-group">
	<label for="executed" class="control-label col-sm">Tour wurde durchgeführt</label>
	<div class="col-sm-10">
	    <f:form.checkbox  property="executed" value="1" />
	</div>
    </div>    
    <div class="form-group">
	<label for="shorttext" class="control-label col-sm">Kurzbericht für Tourenchef (Bedingungen, etc)</label>
	<div class="col-sm-10">
	    <f:form.textarea rows="5" cols="10" class="powermail_input form-control" property="shorttext" />
	</div>
    </div>
    <div class="form-group">
	<label for="title" class="control-label col-sm">Titel für Webseite</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="title" />
	</div>
    </div>
    <div class="form-group">
	<label for="author" class="control-label col-sm">Autor</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="author" />
	</div>
    </div>

    <div class="form-group">
	<label for="text" class="control-label col-sm">Bericht für Webseite</label>
	<div class="col-sm-10">
	    <f:form.textarea rows="10" cols="10" class="powermail_input form-control" property="text" />
	</div>
    </div>
</fieldset>