{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<fieldset class="powermail_fieldset powermail_fieldset_2 nolabel">
    <div class="form-group">
	<label for="title" class="control-label col-sm">Tour</label>
	<div class="col-sm-10">
	    <f:if condition="{report}">
		<f:then>
		    {report.tour.title}&nbsp;
		    <f:if condition="{report.tour.enddate}">
			<f:then>
			   {report.tour.startdate -> f:format.date(format:"d.m.Y")} - {report.tour.enddate -> f:format.date(format:"d.m.Y")}
			</f:then>
			<f:else>
			    {report.tour.startdate -> f:format.date(format:"d.m.Y")}
			</f:else>
		    </f:if>
		</f:then>
		<f:else>
		    {tour.title}&nbsp;
		    <f:if condition="{tour.enddate}">
			<f:then>
			   {tour.startdate -> f:format.date(format:"d.m.Y")} - {tour.enddate -> f:format.date(format:"d.m.Y")}
			</f:then>
			<f:else>
			    {tour.startdate -> f:format.date(format:"d.m.Y")}
			</f:else>
		    </f:if>
		</f:else>
	    </f:if>
	</div>
    </div>
    <f:form.textfield class="hidden" property="tour" value="{tour.uid}"/>
    <div class="form-group">
	<label for="executed" class="control-label col-sm">Tour wurde durchgeführt</label>
	<div class="col-sm-10">
	    <f:form.checkbox  property="executed" value="1" checked="{report.executed}" />
	</div>
    </div>    
    <div class="form-group">
	<label for="shorttext" class="control-label col-sm">Kurzbericht für Tourenchef (Bedingungen, etc) </label>
	<div class="col-sm-10">
	    <f:form.textarea rows="5" cols="10" class="powermail_input form-control" property="shorttext" />
	</div>
    </div>
    <div class="form-group">
	<label for="title" class="control-label col-sm">Titel für Webseite</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="title" />
	</div>
    </div>
    <div class="form-group">
	<label for="author" class="control-label col-sm">Autor</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="author" />
	</div>
    </div>

    <div class="form-group">
	<label for="text" class="control-label col-sm">Bericht für Webseite</label>
	<div class="col-sm-10">
	    <f:form.textarea rows="10" cols="10" class="powermail_input form-control" property="text" />
	</div>
    </div>
</fieldset>