{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tr>
    <td class="tour">
       <f:if condition="{report.tour.enddate}">
	    <f:then>
		{report.tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber1")}
		{report.tour.enddate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber2")}
		<h4><f:translate key='day.{daynumber1}' /> {report.tour.startdate -> f:format.date(format:"d.m.")} - <br><f:translate key='day.{daynumber2}' /> {report.tour.enddate -> f:format.date(format:"d.m.Y")}</h4>
	    </f:then>
	    <f:else>
		{report.tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber")}
		<h4><f:translate key='day.{daynumber}' /> {report.tour.startdate -> f:format.date(format:"d.m.Y")}</h4>
	    </f:else>
	</f:if> 
    </td>
    <td colspan="2" class="tour">
	<h4>{report.tour.title} {report.tour.type}</h4>
    </td>
</tr>
<tr>
    <td></td>
    <td>Tourenleiter</td>
    <td width="60%">{report.tour.tourenleiter.name}</td>
</tr>
<tr>
    <td></td>
    <td>Kurzbericht</td>
    <td>{report.shorttext}</td>
</tr>
<tr>
    <td></td>
    <td>Bericht für Webseite</td>
    <td><f:format.nl2br>{report.text}</f:format.nl2br></td>
</tr>


