{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="panel panel-default">
    <div class="panel-heading">
	<f:if condition="{tour.enddate}">
	    <f:then>
		<div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.startdate -> f:format.date(format:"d.m.Y")} - {report.tour.enddate -> f:format.date(format:"d.m.Y")}</a></div>
	    </f:then>
	    <f:else>
		<div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.startdate -> f:format.date(format:"d.m.Y")}</a></div>
	    </f:else>
	</f:if>
	<f:if condition="{report.state} == 1">
	    <f:then>
		{v:page.info(field: 'uid') -> v:variable.set(name:"backPage")}
		<div class="title-right button"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.tourenleiter.name}</a>&nbsp;&nbsp;<f:link.action title="Bericht zur Tour ansehen" controller="Report" action="show" arguments="{report: report, backPage: backPage}" class="btn btn-primary btn-sm" pageUid="{settings.reportPage}">Bericht</f:link.action></div>
	    </f:then>
	    <f:else>
		<div class="title-right ohne-button"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.tourenleiter.name}</a></div>
	    </f:else>
	</f:if>
	<div>
	    <f:if condition="{report.title}">
		<f:then>
		    <a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.title} {report.tour.type}</a>
		</f:then>
		<f:else>
		    <a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.title} {report.tour.type}</a>
		</f:else>
	    </f:if>
	</div>
	<div style="clear:left"></div>
    </div>
    <div id="collapse{report.uid}" class="panel-collapse collapse" data-parent="#accordion">
	<div class="panel-body-report">
	    <f:render partial="Report/BilderGallery" arguments="{pictures:report.picture report:report}" />
	</div>
    </div>
</div>
