{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="panel panel-default">
    <div class="panel-heading">
	    <f:if condition="{tour.enddate}">
		<f:then>
		    <div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.startdate -> f:format.date(format:"d.m.Y")} - {report.tour.enddate -> f:format.date(format:"d.m.Y")}</a></div>
		</f:then>
		<f:else>
		    <div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.startdate -> f:format.date(format:"d.m.Y")}</a></div>
		</f:else>
	    </f:if>
	<div class="title-right">
	    <f:if condition="{report.author}">
		<f:then>
		    <a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.author}</a>
		</f:then>
		<f:else>
		    <a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.tourenleiter.name}</a>
		</f:else>
	    </f:if>
	</div>
	<div>
	    <f:if condition="{report.title}">
		<f:then>
		    <a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.title} {report.tour.type}</a>
		</f:then>
		<f:else>
		    <a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.title} {report.tour.type}</a>
		</f:else>
	    </f:if>
	</div>
	<div style="clear:left"></div>
    </div>
    <div id="collapse{report.uid}" class="panel-collapse collapse" data-parent="#accordion">
	<div class="panel-body-report">
	    <f:format.nl2br>{report.text}</f:format.nl2br>
	    <f:if condition="{report.picture}">
		<f:then>
		    <br><br>
		    <h3>Fotos</h3>
		    <f:render partial="Report/BilderGallery" arguments="{pictures:report.picture report:report}" />
		</f:then>
	    </f:if>
	    
	</div>
    </div>
</div>
