{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="panel panel-default">
    <f:if condition="{report.state}==0">
	<f:then>
	    <div class="panel-heading red">
	</f:then>
	<f:else>
	    <f:if condition="{report.text}">
		<f:then>
		    <div class="panel-heading green">
		</f:then>
		<f:else>
		    <div class="panel-heading red">
		</f:else>
	    </f:if>
	</f:else>
    </f:if>
    <f:if condition="{tour.enddate}">
	<f:then>
	    <div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.startdate -> f:format.date(format:"d.m.Y")} - {report.tour.enddate -> f:format.date(format:"d.m.Y")}</a></div>
	</f:then>
	<f:else>
	    <div class="title-left"><a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.startdate -> f:format.date(format:"d.m.Y")}</a></div>
	</f:else>
    </f:if>
	<div class="title-right button">
	<a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.tourenleiter.name}</a> <f:link.action title="Bericht bearbeiten" controller="Report" action="edit" arguments="{report: report}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></f:link.action>	
	<f:security.ifHasRole role="2">
	    <f:then>
		<f:link.action title="Tourenbericht löschen löschen" controller="Report" action="delete" arguments="{report: report}" class="btn btn-primary btn-sm"><i class="fas fa-trash"></i></f:link.action>
	    </f:then>
	</f:security.ifHasRole>
	<f:if condition="{report.text}">
	    <f:then>
		<f:if condition="{report.state}==0">
		<f:then>	
			<f:link.action title="Bericht für Webseite freigeben" controller="Report" action="toggleState" arguments="{report: report}" class="btn btn-primary btn-sm"> <i class="fas fa-eye"></i></f:link.action>
		</f:then>
		    <f:else>
			<f:link.action title="Bericht auf Webseite verstecken" controller="Report" action="toggleState" arguments="{report: report}" class="btn btn-primary btn-sm"> <i class="fas fa-eye-slash"></i></f:link.action>
		    </f:else>
		</f:if>
	    </f:then>
	</f:if>
	</div>
	<div>
	    <a title="zeige Details" data-toggle="collapse" data-parent="#accordion" href="#collapse{report.uid}">{report.tour.title} {report.tour.type}
	    <f:if condition="{report.executed}==0"><f:then>
		(nicht Durchgeführt)
	    </f:then></f:if></a>
	</div>
	<div style="clear:left"></div>
    </div>
    <div id="collapse{report.uid}" class="panel-collapse collapse" data-parent="#accordion">
	<div class="panel-body">
	    <table class="table table-striped">
		<tbody>
		    <tr>
			<th class="first" style="width:20%" scope="row">Tour</th>
			<f:if condition="{tour.enddate}">
			    <f:then>
				{report.tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber1")}
				{report.tour.enddate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber2")}
				<td class="first"><f:translate key='day.{daynumber1}' /> {report.tour.title} {report.tour.type}  {report.tour.startdate -> f:format.date(format:"d.m.")} - <f:translate key='day.{daynumber2}' /> {report.tour.enddate -> f:format.date(format:"d.m.Y")}</td>
			    </f:then>
			    <f:else>
				{tour.startdate -> f:format.date(format:"N") -> v:variable.set(name:"daynumber")}
				<td class="first"><f:translate key='day.{daynumber}' />{report.tour.title} {report.tour.type}  {report.tour.startdate -> f:format.date(format:"d.m.Y")}</td>
			    </f:else>
			</f:if>
		    </tr>
		    <tr>
			<th scope="row">Tourenleiter</th>
			<td>{report.tour.tourenleiter.name}</td>
		    </tr>
		    <tr>
			<th scope="row">Durchführung</th>
			<td>
			    <f:if condition="{report.executed}==0">
				<f:then>
				    nicht Durchgeführt
				</f:then>
				<f:else>
				    Durchgeführt
				</f:else>
			    </f:if>
			</td>
		    </tr>
		    <tr>
			<th scope="row">Kurzbericht für Tourenchef</th>
			<td><f:format.nl2br>{report.shorttext}</f:format.nl2br></td>
		    </tr>
		    {v:variable.set(name: 'nr', value: "1")}
		    <tr>
			<th scope="row">Teilnehmer<br>
			    <f:link.action title="Teilnehmer hinzufügen" controller="Participant" action="newForReport" arguments="{report: report}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></f:link.action>
			</th>
			<td colspan="2"> 
			    <table width="100%">
				<f:for each="{report.participant}" as="participant">
				    <tr>
					<f:if condition="{participant.leader}">
					    <f:then>
						<td style="width: 100px; white-space: nowrap;"><f:link.action title="Teilnehmer entfernen" controller="Participant" action="deleteForReport" arguments="{report: report, participant: participant}"><i class="fas fa-trash"></i></f:link.action> Tourenleiter: </td>
					    </f:then>
					    <f:else>
						<td style="width: 100px; white-space: nowrap;"><f:link.action title="Teilnehmer entfernen" controller="Participant" action="deleteForReport" arguments="{report: report, participant: participant}"><i class="fas fa-trash"></i></f:link.action> Teilnehmer {nr}: </td>
						{nr -> v:math.sum(b:1) -> v:variable.set(name:"nr")}
					    </f:else>
					</f:if>
					<td>
					    {participant.name}
					    <f:if condition="{participant.feuser} != '0'" >
					    <f:then>
						(Reg)
					    </f:then>
					    </f:if>
					    <f:if condition="{participant.youth} == '1'" >
					    <f:then>
						(Jugendlicher)
					    </f:then>
					    </f:if>
					    , {participant.place}</td>
					<td>
					    <f:if condition="{participant.email}">
						<f:then>
						    <i class="fas fa-envelope" aria-hidden="true"></i> <f:link.email email="{participant.email}"/>
						</f:then>
					    </f:if>
					</td>
					<td>
					    <f:if condition="{participant.phone}">
						<f:then>
						    <i class="fas fa-phone" aria-hidden="true"></i> {participant.phone}
						</f:then>
					    </f:if>
					</td>
					
				    </tr>
				</f:for>
			    </table>    
			</td>
		    </tr>
		    <tr>
			<th scope="row">Bericht für Webseite</th>
			<td>
			    <b>{report.title}</b>
			    <f:if condition="{report.author}">
				<f:then>
				     <b>(von {report.author})</b><br><br>
				</f:then>
			    </f:if>
			     <f:format.nl2br>{report.text}</f:format.nl2br>
			</td>
		    </tr>
		    <tr>
			<th scope="row">Fotos<br>
			    <f:link.action title="Fotos hinzufügen" controller="Report" action="newPhoto" arguments="{report: report}" class="btn btn-primary btn-sm"><i class="fas fa-camera"></i></f:link.action>
			</th>  
			<td>
			    <f:render partial="Report/BilderGalleryEdit" arguments="{pictures:report.picture report:report}" />
			</td>
		    </tr>
		</tbody>
	    </table>
	</div>
    </div>
</div>
