
<f:layout name="Default" />


<f:section name="main">
    <f:if condition="{tour.enddate}">
	<f:then>
	    <h1>Anmeldung für {tour.title} vom {tour.startdate -> f:format.date(format:"d.m.")} - {tour.enddate -> f:format.date(format:"d.m.Y")}</h1>
	</f:then>
	<f:else>
	    <h1>Anmeldung für {tour.title} vom {tour.startdate -> f:format.date(format:"d.m.Y")}</h1>
	</f:else>
    </f:if>
    <h4>Anmeldung geht an {tour.tourenleiter.name}</h4>	
    <i class="fas fa-arrow-circle-right"></i> Bitte nicht mehrere Teilnehmer gleichzeitig anmelden. Pro Teilnehmer eine Anmeldung!

    <f:form onsubmit="document.getElementById('submit_button').disabled = 1;" class="form-horizontal" action="create"  enctype="multipart/form-data"  name="newParticipant" arguments="{tour: tour}" object="{newParticipant}" >

	<f:render partial="Participant/FormFields" arguments="{login:login}"/>
	<div class="red"><b>&nbsp;Achtung:</b> Die Anmeldung gilt erst als gültig, wenn du auch ein Bestätigungsmail erhälst. Erhälst du das nicht, melde dich beim Tourenleiter.</div>
	<br>
	<f:link.page section="collapse{tour.uid}" class="btn btn-danger"> zurück</f:link.page>&nbsp;
	<f:form.submit class="btn btn-primary" value="Anmelden" id="submit_button"/>
    </f:form>
    
</f:section>