{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

    <f:if condition="{report.tour.enddate}">
    <f:then>
	<h1>Teilnehmer für {report.tour.title} vom {report.tour.startdate -> f:format.date(format:"d.m.")} - {report.tour.enddate -> f:format.date(format:"d.m.Y")}</h1>
    </f:then>
    <f:else>
	<h1>Teilnehmer für {report.tour.title} vom {report.tour.startdate -> f:format.date(format:"d.m.Y")}</h1>
    </f:else>
    </f:if>
    <f:if condition="{report.participant}">
	<f:then>
	    <h4>Aus Online Anmeldung übernommene Teilnehmer</h4>
	</f:then>
    </f:if>

    {v:variable.set(name: 'nr', value: "1")}
    <table class="formTable" width="100%">
	<f:for each="{report.participant}" as="participant">
	    <tr>
		<f:if condition="{participant.leader}">
		    <f:then>
			<td width="100px" style="white-space: nowrap;">Tourenleiter: </td>
		    </f:then>
		    <f:else>
			<td width="100px" style="white-space: nowrap;">Teilnehmer {nr}: </td>
			{nr -> v:math.sum(b:1) -> v:variable.set(name:"nr")}
		    </f:else>
		</f:if>
		<td>
		    {participant.name}, {participant.place}</td>
		<td>
		    <f:if condition="{participant.email}">
			<f:then>
			    <i class="fa fa-envelope" aria-hidden="true"></i> <f:link.email email="{participant.email}"/>
			</f:then>
		    </f:if>
		</td>
		<td>
		    <f:if condition="{participant.phone}">
			<f:then>
			    <i class="fa fa-phone" aria-hidden="true"></i> {participant.phone}
			</f:then>
		    </f:if>
		</td>
	    </tr>
	</f:for>
    </table> 
    <br><br>

    <f:form onsubmit="document.getElementById('submit_button').disabled = 1;" class="form-horizontal" action="createForReport"  enctype="multipart/form-data"  name="newParticipant" arguments="{report: report}" object="{newParticipant}" >
	<f:render partial="Participant/FormFieldsMulti"/>
	{report.tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
	<f:link.action arguments="{year:year}" controller="Report" action="listEdit" section="collapse{report.uid}" class="btn btn-danger"> zurück</f:link.action>
	<f:form.submit class="btn btn-primary" value="Speichern" id="submit_button"/>
    </f:form>

    
</f:section>