{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

    <f:if condition="{tour.enddate}">
    <f:then>
	<h1>Teilnehmer für {tour.title} vom {tour.startdate -> f:format.date(format:"d.m.")} - {tour.enddate -> f:format.date(format:"d.m.Y")}</h1>
    </f:then>
    <f:else>
	<h1>Teilnehmer für {tour.title} vom {tour.startdate -> f:format.date(format:"d.m.Y")}</h1>
    </f:else>
    </f:if>
    <br><br>
    <f:form onsubmit="document.getElementById('submit_button').disabled = 1;" class="form-horizontal" action="createForTour"  enctype="multipart/form-data"  name="newParticipant" arguments="{tour: tour}" object="{newParticipant}" >
	<f:render partial="Participant/FormFieldsMulti"/>
	{tour.startdate->f:format.date(format:'Y') -> v:variable.set(name:"year")}
    <f:link.action arguments="{year:year}" controller="Tour" action="listEdit" section="collapse{tour.uid}" class="btn btn-danger"> zurück</f:link.action>
	<f:form.submit class="btn btn-primary" value="Speichern" id="submit_button"/>
    </f:form>

    
</f:section>