
<f:layout name="Default" />

<f:section name="main">
<h1>Kommentar zu BL Mitglied bearbeiten</h1>


<f:form class="form-horizontal" action="update" name="member" object="{member}" >
<f:render partial="Member/FormFields" arguments="{member:member}" />
<f:link.action  class="btn btn-danger">zurück</f:link.action>
<f:form.submit class="powermail_submit btn btn-primary" value="Speichern" />
</f:form>
</f:section>