
<f:layout name="Default" />


<f:section name="main">

<table  id="members" class="table  table-striped table-bordered " >
    <thead>
        <tr>
            <th>Vorname Name</th>
            <th>Anrede</th>
	    <th>Email</th>
	    <th>Telefon</th>
	    <th>Adresse</th>
	    <th>Geburtsdatum</th>
	    <th>Mitglied seit</th>
	    <f:comment>
		<th>Kommentar</th>
	    </f:comment>
        </tr>
    </thead>
    <tbody>
    <f:for each="{members}" as="member">
	<tr>
	    <td>{member.firstname} {member.name}</td>
	    <td>{member.sex}</td>
	    <td><i class="fas fa-envelope" aria-hidden="true"></i> <f:link.email email="{member.email}"/></td>
	    <td><i class="fas fa-phone" aria-hidden="true">&nbsp;</i> {member.phone}</td>
	    <td><f:format.nl2br>{member.address}</f:format.nl2br></td>
	    <td>{member.birthdate -> f:format.date(format:"d.m.Y")}</td>
	    <td>{member.memberdate -> f:format.date(format:"d.m.Y")}</td>
	    <f:comment>
		<td><f:link.action title="Kommentar bearbeiten" controller="Member" action="edit" arguments="{member: member}" class="btn btn-primary btn-sm"><span class="fa fa-pencil" aria-hidden="true"></span></f:link.action>&nbsp;<f:format.nl2br>{member.comment}</f:format.nl2br></td>
	    </f:comment>
	</tr>
    </f:for>
    </tbody>
</table>
</f:section>

<script>
    $(document).ready( function () {
	$('#members').DataTable( {
	    pageLength: 50,
	    language: {
		search: "Suchen:",
		lengthMenu:    "zeige _MENU_ Personen",
		info:           "zeige _START_ bis _END_ von _TOTAL_ Personen",
		infoFiltered:   "(gefiltert von _MAX_ Personen total)",
		zeroRecords:    "keine Personen gefunden",
		paginate: {
		    first:      "Erste",
		    previous:   "Letzte",
		    next:       "Nächste",
		    last:       "Letzte"
		},
	    }
	} );
    } );
</script>