
<table class="tx-hib-tourenplanung" >
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_bild.picture" />
		</td>
		<td>
			{bild.picture.originalResource.name}
		</td>
	</tr>
</table>