
<fieldset class="powermail_fieldset powermail_fieldset_2 nolabel">
    <div class="form-group">
	<label for="comment" class="control-label col-sm-2">Name</label>
	<div class="col-sm-10">
	    {member.firstname} {member.name}
	</div>
    </div>
    <div class="form-group">
	<label for="comment" class="control-label col-sm-2">Kommentar</label>
	<div class="col-sm-10">
	    <f:form.textarea rows="5" cols="20" class="powermail_input form-control" property="comment" />
	</div>
    </div>
</fieldset>
<br>