{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<fieldset class="powermail_fieldset powermail_fieldset_2 nolabel">
    <div class="form-group">
	<label for="name" class="control-label col-sm-2">Name <span class="required">(Muss Feld)</span></label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="name" />
	</div>
    </div>
     <div class="form-group">
	<label for="name" class="control-label col-sm-2">Funktion </label>
	<div class="col-sm-10">
	    <f:form.select class="powermail_input form-control" property="type" options="{types}" optionValueField="key" optionLabelField="value" />
	</div>
    </div>
    <div class="form-group">
	<label for="youth" class="control-label col-sm-2">Jugendgruppe</label>
	<div class="col-sm-10">
	    <f:form.checkbox  property="youth" value="1" checked="{tourenleiter.youth}"/>
	</div>
    </div>
    <div class="form-group">
	<label for="snow" class="control-label col-sm-2">Schneesport Leiter</label>
	<div class="col-sm-10">
	    <f:form.checkbox  property="snow" value="1" checked="{tourenleiter.snow}"/>
	</div>
    </div>
    <div class="form-group">
	<label for="address" class="control-label col-sm-2">Adresse</label>
	<div class="col-sm-10">
	    <f:form.textarea rows="3" cols="20" class="powermail_input form-control" property="address" />
	</div>
    </div>
    <div class="form-group">
	<label for="email" class="control-label col-sm-2">Email</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="email" />
	</div>
    </div>
    <div class="form-group">
	<label for="phone" class="control-label col-sm-2">Telefon</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="phone" />
	</div>
    </div>
    <div class="form-group">
	<label for="phone" class="control-label col-sm-2">Notfall-Telefon</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="emergency" />
	</div>
    </div>
    <div class="form-group">
	<label for="function" class="control-label col-sm-2">Vorstandsamt</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="function" />
	</div>
    </div>
</fieldset>
<br>