<table class="table table-striped">
    <tbody>
	<tr>
	    <th style="width:30%" scope="row">Adresse</th>
	    <td>
		<f:if condition="{tourenleiter.picture.originalResource.publicUrl}!=''}">
		    <f:then>
			<f:image class="thumbnail img-responsive" style="float:right" src="{tourenleiter.picture.originalResource.publicUrl}" width="200"/>
		    </f:then>
		</f:if>
		<h3>{tourenleiter.name}</h3><f:format.nl2br>{tourenleiter.address}</f:format.nl2br><br>
	    </td>
	</tr>
	<tr>
	    <th scope="row">Telefon</th>
	    <td>
		Tel: {tourenleiter.phone}
	    </td>
	</tr>
	<tr>
	    <th scope="row">Email</th>
	    <td>
	       <f:link.email email="{tourenleiter.email}"/>
	    </td>
	</tr>
    </tbody>
</table>

