{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="panel panel-default">
    <div class="panel-heading">
	
	<div class="title-right button"><f:link.action title="Tourenleiter bearbeiten" action="edit" arguments="{tourenleiter: tourenleiter}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></f:link.action></div>
	<div><a data-toggle="collapse" title="zeige Details" data-parent="#accordion" href="#collapse{tourenleiter.uid}">
		<f:if condition="{tourenleiter.inactive}==1">
		    <f:then>
			<i class="far fa-user"></i> {tourenleiter.name}&nbsp;(inaktiv)
		    </f:then>
		    <f:else>
			<i class="fas fa-user"></i> {tourenleiter.name}
		    </f:else>
		</f:if>
	    </a></div>
    </div>
    <div id="collapse{tourenleiter.uid}" class="panel-collapse collapse" data-parent="#accordion">
	<div class="panel-body">
	    <table class="table table-striped">
		<tbody>
		    <tr>
			<th style="width:30%" scope="row">Adresse</th>
			<td>
			    <f:if condition="{tourenleiter.picture.originalResource.publicUrl}!=''}">
				<f:then>
				    <f:image class="thumbnail" style="float:right" src="{tourenleiter.picture.originalResource.publicUrl}" maxWidth="300"/>
				</f:then>
			    </f:if>
			    <h3>{tourenleiter.name}</h3><f:format.nl2br>{tourenleiter.address}</f:format.nl2br><br>
			</td>
		    </tr>
		    <tr>
			<th scope="row">Telefon</th>
			<td>
			    <i class="fas fa-phone" aria-hidden="true"></i> {tourenleiter.phone}
			</td>
		    </tr>
		    <tr>
			<th scope="row">Notfall-Telefon</th>
			<td>
			    <i class="fas fa-phone" aria-hidden="true"></i> {tourenleiter.emergency}
			</td>
		    </tr>
		    <tr>
			<th scope="row">Email</th>
			<td>
			   <i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;<f:link.email email="{tourenleiter.email}"/>
			</td>
		    </tr>
		    <tr>
			<th scope="row">Funktion</th>
			<td>
			    <f:if condition="{tourenleiter.type}==1">
				<f:then>
				    Tourenleiter
				</f:then>
			    </f:if>
			    <f:if condition="{tourenleiter.type}==2">
				<f:then>
				    Tourenleiter & Vorstand
				</f:then>
			    </f:if>
			    <f:if condition="{tourenleiter.youth}==1">
				<f:then>
				    &nbsp;(Jugendgruppe)
				</f:then>
			    </f:if>
			    <f:if condition="{tourenleiter.snow}==1">
				<f:then>
				    <br>Schneesport Tourenleiter
				</f:then>
			    </f:if>
			</td>
		    </tr>
		</tbody>
	    </table>
	</div>
    </div>
</div>