{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="panel panel-default">
    <div class="panel-heading">
	<div class="title-all"><a data-toggle="collapse" title="zeige Details" data-parent="#accordionL" href="#collapseT{tourenleiter.uid}"><i class="fas fa-user"></i> {tourenleiter.name} </a></div>
    </div>
    <div id="collapseT{tourenleiter.uid}" class="panel-collapse collapse" data-parent="#accordionL">
	<div class="panel-body">
	    <table class="table table-striped">
		<tbody>
		    <tr>
			<th style="width:30%" scope="row">Adresse</th>
			<td>
		            <f:if condition="{tourenleiter.picture.originalResource.publicUrl}!=''}">
				<f:then>
				    <f:image class="thumbnail" style="float:right" src="{tourenleiter.picture.originalResource.publicUrl}" maxWidth="300"/>
				</f:then>
			    </f:if>
			    <h3>{tourenleiter.name}</h3><f:format.nl2br>{tourenleiter.address}</f:format.nl2br><br>
			</td>
		    </tr>
		    <tr>
			<th scope="row">Telefon</th>
			<td>
			    <i class="fas fa-phone" aria-hidden="true"></i> {tourenleiter.phone}
			</td>
		    </tr>
		    <tr>
			<th scope="row">Email</th>
			<td>
			   <i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;<f:link.email email="{tourenleiter.email}"/>
			</td>
		    </tr>
		    <tr>
			<td colspan="2"> <h4>Touren von {tourenleiter.name} im {year}</h4>
			    <div class="accordion-inner">
				<div class="accordion" id="accordion{tourenleiter.uid}">
				    <f:for each="{tours}" as="tour">
					<f:if condition="{tour.tourenleiter.uid}=={tourenleiter.uid}">
					    <f:then>
						<f:render partial="Tour/singleTourOhneLeiter" arguments="{tour:tour}" />
					    </f:then>
					</f:if>
				    </f:for>
				</div>
			    </div>
			</td>
		    </tr>
		</tbody>
	    </table>
	</div>
    </div>
</div>