{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="panel panel-default">
    <div class="panel-heading">
	
	<div class="title-right button"><f:link.action title="Vorstandsmitglied bearbeiten" action="edit" arguments="{tourenleiter: mitglied}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></f:link.action></div>
	<div><a data-toggle="collapse" title="zeige Details" data-parent="#accordionV" href="#collapseV{mitglied.uid}"><i class="fas fa-user"></i> {mitglied.name}, {mitglied.function}</a></div>
    </div>
    <div id="collapseV{mitglied.uid}" class="panel-collapse collapse" data-parent="#accordionV">
	<div class="panel-body">
	    <table class="table table-striped">
		<tbody>
		    <tr>
			<th style="width:30%" scope="row">Adresse</th>
			<td>
			    <f:if condition="{mitglied.picture.originalResource.publicUrl}!=''}">
				<f:then>
				    <f:image class="thumbnail" style="float:right" src="{mitglied.picture.originalResource.publicUrl}" maxWidth="300"/>
				</f:then>
			    </f:if>
			    <h3>{mitglied.name}</h3><f:format.nl2br>{mitglied.address}</f:format.nl2br><br>
			</td>
		    </tr>
		    <tr>
			<th scope="row">Telefon</th>
			<td>
			    <i class="fas fa-phone" aria-hidden="true"></i> {mitglied.phone}
			</td>
		    </tr>
		    <tr>
			<th scope="row">Email</th>
			<td>
			   <i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;<f:link.email email="{mitglied.email}"/>
			</td>
		    </tr>
		    <tr>
			<th scope="row">Vorstandsamt</th>
			<td>{mitglied.function}</td>
		    </tr>
		</tbody>
	    </table>
	</div>
    </div>
</div>