
<fieldset class="powermail_fieldset powermail_fieldset_2 nolabel">
    <div class="form-group">
	<label for="name" class="control-label col-sm">Name</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="name" />
	</div>
    </div>
    <div class="form-group">
	<label for="name" class="control-label col-sm">Wohnort</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="place"/>
	</div>
    </div>
    <div class="form-group">
	<label for="email" class="control-label col-sm">Email</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="email" />
	</div>
    </div>
    <div class="form-group">
	<label for="phone" class="control-label col-sm">Telefon</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="phone" />
	</div>
    </div>
    <div class="form-group">
	<label for="car" class="control-label col-sm">Teilnehmer ist unter 20 Jahren</label>
	<div class="col-sm-10">
	    <f:form.checkbox  property="youth" value="1" />
	</div>
    </div>  
</fieldset>
<br>