
<fieldset class="powermail_fieldset powermail_fieldset_2 nolabel">
    <div class="form-group">
	<label for="name" class="control-label col-sm">Name</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="name" value="{login.name}"/>
	</div>
    </div>
    <div class="form-group">
	<label for="name" class="control-label col-sm">Wohnort</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="place" value="{login.city}" />
	</div>
    </div>
    <div class="form-group">
	<label for="email" class="control-label col-sm">Email</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="email" value="{login.email}" />
	</div>
    </div>
    <div class="form-group">
	<label for="phone" class="control-label col-sm">Telefon</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="phone" value="{login.tel}" />
	</div>
    </div>
    <div class="form-group">
	<label for="phone" class="control-label col-sm">Notfall-Nummer</label>
	<div class="col-sm-10">
	    <f:form.textfield class="powermail_input form-control" property="emergency" value="{login.emergency}" />
	</div>
    </div>
    <div class="form-group">
	<label for="car" class="control-label col-sm">Ich habe ein Auto und könnte fahren</label>
	<div class="col-sm-10">
	    <f:form.checkbox  property="car" value="1" />
	</div>
    </div>
    <div class="form-group">
	<label for="car" class="control-label col-sm">Ich bin unter 20 Jahren</label>
	<div class="col-sm-10">
	    <f:form.checkbox  property="youth" value="1" />
	</div>
    </div>
	    <f:form.hidden  property="feuser" value="{login.uid}" />
    <div class="form-group">
	<label for="message" class="control-label col-sm">Bemerkung</label>
	<div class="col-sm-10">
	    <f:form.textarea rows="5" cols="20" class="powermail_input form-control" property="message" />
	</div>
    </div>
</fieldset>
<br>