
<table class="tx-hib-tourenplanung" >
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_participant.name" />
		</td>
		<td>
		{participant.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_participant.sex" />
		</td>
		<td>
		{participant.sex}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_participant.email" />
		</td>
		<td>
		{participant.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_participant.phone" />
		</td>
		<td>
		{participant.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hibtourenplanung_domain_model_participant.message" />
		</td>
		<td>
		{participant.message}
		</td>
	</tr>
</table>